.carousel_container {
  width: 100%;
  display: grid;
  align-items: center;
  gap: 1.5rem;
  position: relative;
  grid-template-rows: 6rem 1fr max-content;
  margin-top: 5rem;
}

.carousel-recipes_header {
  display: grid;
  place-content: center;
  font-size: 1.2rem;
  font-family: var(--primary-font);
  font-weight: 400;
  color: var(--section-font-color);
}

.viand-carousel_container {
  position: relative;
  background-color: #2f4858;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4rem 12rem 5rem;
  flex-direction: column;
  gap: 1rem;
  border-radius: 0.5rem 0.5rem 0 0;
}

.carousel_all-viands {
  display: flex;
  justify-content: center;
  background: #f6f6f6;
  width: 100%;
  overflow-x: auto;
  padding: 0 12rem;

  & .all-viands_list {
    width: 100%;
    display: flex;
    overflow-x: auto;
    gap: 3.5rem;
    padding: 2rem 2rem 1.7rem;
    position: relative;
    margin-bottom: 1rem;

    & .all-viands_item {
      cursor: pointer;
      transition: all 0.3s ease;
    }

    & .all-viands_item:hover {
      transform: scale(1.1);
      opacity: 0.7;
    }

    & img {
      width: 11rem;
      height: 7rem;
      border-radius: 0.5rem;
      box-shadow: 1px 1px 10px 5px rgba(0, 0, 0, 0.135);
      padding: 0.1rem;
      object-fit: cover;
      object-position: center;
    }

    & .selected {
      transform: scale(1.25);
    }

    /* Estilo de la barra de scroll */
    &::-webkit-scrollbar {
      height: 3px; /* Altura de la barra horizontal */
    }

    &::-webkit-scrollbar-thumb {
      background: var(--primary-details-color);
      border-radius: 4px; /* Esquinas redondeadas */
      border: none;
    }

    &::-webkit-scrollbar-track {
      background-color: rgba(200, 200, 200, 0.3); /* Color del fondo */
      border-radius: 4px; /* Esquinas redondeadas */
    }
  }
}

.recipes-carousel_footer {
  width: 100%;
  height: 1.5rem;
  background-color: #2f4858;
  border-radius: 0 0 0.5rem 0.5rem;
}

/* Media queries */

@media screen and (max-width: 1550px) {
  .carousel {
    & .recipe-card_text {
      grid-template-rows: 5.2fr 2fr 7fr 15fr 4fr;
    }
  }

  .carousel-recipes_header {
    font-size: 1.3em;
    height: 6em;
  }

  .number-recipe {
    & h1 {
      width: 3.9em;
      height: 4.5em;
      font-size: 1.2em;
    }
  }

  .author-recipe {
    & h1 {
      font-size: 1.2em;
    }
  }

  .name-recipe {
    & h1 {
      font-size: 2.1em;
    }
  }

  .ingredients-recipe {
    & p {
      font-size: 0.9em;
      line-height: 2em;
    }
  }

  .footer-recipe {
    & .see-recipe {
      gap: 1em;
      font-size: 0.85em;

      & p {
        font-family: var(--primary-font);
        font-weight: lighter;
      }
    }
  }

  .carousel-btn {
    position: absolute;
  }

  .carousel-btn_left {
    left: 5%;
  }

  .carousel-btn_right {
    right: 5%;
  }
}

@media screen and (max-width: 1400px) {
  .carousel-recipes_header {
    font-size: 1.1em;
    height: 11svh;
  }

  .carousel {
    width: 60em;
  }

  .number-recipe {
    & h1 {
      width: 3em;
      height: 3.5em;
      font-size: 0.9em;
    }
  }

  .author-recipe {
    & h1 {
      font-size: 1.1em;
    }
  }

  .name-recipe {
    & h1 {
      font-size: 1.7em;
    }
  }

  .ingredients-recipe {
    & p {
      font-size: 0.77em;
    }
  }

  .footer-recipe {
    & .see-recipe {
      font-size: 0.75em;
    }
  }
}
