.carousel_container {
  width: 100%;
  display: grid;
  align-items: center;
  gap: 1.7rem;
  position: relative;
  max-height: 43rem;
  grid-template-rows: 6rem 1fr;
}

.carousel-recipes_header {
  display: grid;
  place-content: center;
  font-size: 1.4rem;
  font-family: var(--section-font);
  font-weight: lighter;
  color: #9e7682;
}

.carousel {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 1em;
  justify-self: center;
  width: 70em;
  height: 100%;

  & .recipe-card_text {
    display: grid;
    grid-template-rows: 4fr 2.5fr 8fr 15fr 4fr;
    gap: 0.5em;
  }

  & .recipe-card_img {
    padding-left: 14%;

    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 0.1em;
      box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.093);
      opacity: 0;
      transition: all 2s ease;
    }

    & .loaded {
      opacity: 1;
    }
  }
}

.number-recipe {
  & h1 {
    border: 1.5px solid rgba(0, 0, 0, 0.421);
    width: 2.6em;
    height: 3em;
    display: grid;
    place-content: center;
    border-radius: 50%;
    font-family: var(--section-font);
    font-weight: lighter;
    color: rgba(0, 0, 0, 0.516);
    font-size: 1.2em;
    background-color: white;
  }
}

.author-recipe {
  & h1 {
    font-family: var(--primary-font);
    font-size: 1.35em;
    font-weight: lighter;
    color: rgba(0, 0, 0, 0.516);
  }
}

.name-recipe {
  & h1 {
    font-size: 2.1em;
    font-family: var(--carousel-title);
    font-weight: lighter;
    max-width: 20ch;
    color: rgba(0, 0, 0, 0.737);
  }
}

.ingredients-recipe {
  & p {
    font-size: 0.9em;
    font-family: var(--primary-font);
    text-align: justify;
    line-height: 2.2em;
    color: rgba(0, 0, 0, 0.737);
  }
}

.footer-recipe {
  display: flex;
  justify-content: space-between;
  align-items: center;

  & div.decoration-line {
    width: 75%;
    height: 2px;
    background-color: rgba(0, 0, 0, 0.44);
  }

  & .see-recipe {
    display: flex;
    align-items: center;
    gap: 1em;
    font-size: 0.9em;

    & p {
      font-family: var(--primary-font);
      font-weight: lighter;
    }
  }
}

.carousel-btn {
  position: absolute;
  top: 51%;
}

.carousel-btn_left {
  left: 5%;
}

.carousel-btn_right {
  right: 5%;
}

/* Media queries */

@media screen and (max-width: 1550px) {
  .carousel {
    & .recipe-card_text {
      grid-template-rows: 5.2fr 2fr 7fr 15fr 4fr;
    }
  }

  .carousel-recipes_header {
    font-size: 1.3em;
    height: 6em;
  }

  .number-recipe {
    & h1 {
      width: 3.9em;
      height: 4.5em;
      font-size: 1.2em;
    }
  }

  .author-recipe {
    & h1 {
      font-size: 1.2em;
    }
  }

  .name-recipe {
    & h1 {
      font-size: 2.1em;
    }
  }

  .ingredients-recipe {
    & p {
      font-size: 0.9em;
      line-height: 2em;
    }
  }

  .footer-recipe {
    & .see-recipe {
      gap: 1em;
      font-size: 0.85em;

      & p {
        font-family: var(--primary-font);
        font-weight: lighter;
      }
    }
  }

  .carousel-btn {
    position: absolute;
  }

  .carousel-btn_left {
    left: 5%;
  }

  .carousel-btn_right {
    right: 5%;
  }
}

@media screen and (max-width: 1400px) {
  .carousel-recipes_header {
    font-size: 1.1em;
    height: 11svh;
  }

  .carousel {
    width: 60em;
  }

  .number-recipe {
    & h1 {
      width: 3em;
      height: 3.5em;
      font-size: 0.9em;
    }
  }

  .author-recipe {
    & h1 {
      font-size: 1.1em;
    }
  }

  .name-recipe {
    & h1 {
      font-size: 1.7em;
    }
  }

  .ingredients-recipe {
    & p {
      font-size: 0.77em;
    }
  }

  .footer-recipe {
    & .see-recipe {
      font-size: 0.75em;
    }
  }
}
