.carousel {
  display: grid;
  grid-template-columns: 3fr 2fr;
  justify-self: center;
  width: 100%;
  position: relative;

  & .recipe-card_text {
    display: grid;
    grid-template-rows: 4fr 1.5fr max-content 8fr 3fr 4fr;
    gap: 0.5em;
    padding-left: 3rem;
    padding-right: 6rem;
  }

  & .recipe-card_img {
    display: flex;
    align-items: center;

    & img {
      width: 90%;
      height: 90%;
      object-fit: cover;
      border-radius: 1em;
      opacity: 0;
      transition: all 2s ease;
      max-height: 35.25rem;
      background-color: #ebebeb;
      border: 1px solid rgba(0, 0, 0, 0.134);
    }

    & .loaded {
      opacity: 1;
    }
  }
}

.number-recipe {
  & h1 {
    border: 1.5px solid var(--primary-font-color);
    width: 2.6em;
    height: 3em;
    display: grid;
    place-content: center;
    border-radius: 50%;
    font-family: var(--primary-font);
    font-weight: 400;
    color: var(--primary-font-color);
    font-size: 1.1em;
    background-color: white;
  }
}

.author-recipe {
  & h1 {
    font-family: var(--primary-font);
    font-size: 1.1em;
    font-weight: 300;
    color: var(--light-font-color);
  }
}

.name-recipe {
  & h1 {
    font-size: 1.4em;
    font-family: var(--primary-font);
    color: var(--light-font-color);
    margin-bottom: 1rem;
    font-weight: 400;
  }
}

.ingredients-recipe {
  font-family: var(--primary-font);
  color: var(--light-font-color);

  & p {
    font-size: 0.85em;
    line-height: 2em;
  }

  & span.ingredients-span {
    font-weight: 600;
    color: var(--light-font-color);
    margin-right: 0.4rem;
  }

  & .recipe-description {
    font-family: var(--primary-font);
    color: var(--light-font-color);
  }
}

.price-recipe {
  > h1 {
    font-family: var(--primary-font);
    font-weight: 400;
    font-size: 1.2rem;
    color: var(--light-font-color);

    > span {
      font-size: 1.4rem;
      margin-left: 0.5rem;
    }
  }
}

.footer-recipe {
  display: flex;
  justify-content: space-between;
  align-items: center;

  & div.decoration-line {
    width: 65%;
    height: 2px;
    background-color: var(--light-font-color);
  }

  & .see-recipe {
    display: flex;
    align-items: center;
    gap: 0.8em;
    font-size: 0.9em;
    cursor: pointer;
    padding: 1rem;
    border-radius: 0.5rem;
    transition: all 0.3s ease;

    & p {
      font-family: var(--primary-font);
      font-weight: lighter;
      display: flex;
      width: 6rem;
      font-weight: 500;
      color: a61c3ccf;
      transition: all 0.3s ease;
      font-size: 0.8rem;
      line-height: 1.2rem;
      color: var(--light-font-color);
      text-align: center;
    }

    & .cart-icon {
      font-size: 1.3em;
      color: var(--light-font-color);
    }
  }

  & .see-recipe:hover {
    background-color: rgba(0, 0, 0, 0.044);

    & p {
      color: #cc3f0cdf;
    }
  }
}

.carousel-btn {
  position: absolute;
  transition: all 0.3s ease;
  border-radius: 50%;
  margin-top: 0.9rem;

  & .turn-page {
    background: none;
    box-shadow: none;
  }
}

.carousel-btn:hover {
  background-color: rgba(0, 0, 0, 0.044);
}

.carousel-btn_left {
  left: -9%;
}

.carousel-btn_right {
  right: -9%;
}

@media screen and (max-width: 1330px) {
  .carousel {
    & .recipe-card_text {
      padding-right: 3.5rem;
    }
  }

  .number-recipe {
    & h1 {
      font-size: 1em;
      width: 2.3em;
      height: 2.6em;
    }
  }

  .author-recipe {
    & h1 {
      font-size: 1em;
    }
  }

  .name-recipe {
    & h1 {
      font-size: 1.3em;
    }
  }

  .ingredients-recipe {
    & p {
      font-size: 0.75em;
      line-height: 1.95em;
    }
  }

  .price-recipe {
    > h1 {
      font-size: 1rem;

      > span {
        font-size: 1.3rem;
      }
    }
  }

  .footer-recipe {
    display: flex;
    justify-content: space-between;
    align-items: center;

    & .see-recipe {
      & p {
        font-size: 0.7rem;
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .carousel {
    grid-template-columns: minmax(15rem, 40rem);
    gap: 1rem;
  }

  .recipe-card_img {
    grid-row: 1/ 2;

    & img {
      width: 100% !important;
    }
  }

  .carousel-btn {
    display: none;
  }
}

@media screen and (max-width: 750px) {
  .carousel {
    & .recipe-card_text {
      padding: 0 1rem;
    }
  }
}
