.bookings-container .error {
  display: flex;
  justify-content: center;
  font-size: 0.9rem;
  color: rgb(53, 53, 53);
  margin: 2rem 0;
}

.bookings-container .no-schedules-defined {
  display: flex;
  justify-content: center;
  padding: 2rem 0;
  margin: 0 2rem;
  font-size: 0.8rem;
  font-weight: 500;
}

.bookings-professional-dashboard_table {
  width: 100%;
  border-collapse: collapse;
  overflow-y: auto;

  > thead {
    height: 2rem;
    border-bottom: 1px solid rgb(204, 204, 204);
  }

  & th {
    text-align: start;
    font-weight: 500;
    font-size: 0.85rem;
    padding: 0 2rem;
  }

  & .options-column {
    width: 7rem;
    text-align: end;
    padding-right: 1.8rem;
  }
}

.bookings-professional-dashboard_table .dashboard_professional-item {
  height: 4rem;
  position: relative;

  > .divider-line_container {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;

    > .divider-line {
      width: 93%;
      justify-self: center;
      border-color: rgba(204, 204, 204, 0.167);
    }
  }

  > td {
    font-size: 0.85rem;
    padding: 0 2rem;
  }

  > .options-row {
    font-weight: 500;
    font-size: 0.8rem;
    text-align: end;
    padding-right: 1.8rem;

    > .edit,
    .delete {
      cursor: pointer;
      transition: transform 0.3s ease;
    }
    > .edit:hover,
    .delete:hover {
      transform: scale(1.05);
    }

    > .edit {
      color: rgb(18, 114, 18);
      margin-bottom: 0.15rem;
    }

    > .delete {
      color: rgb(215, 59, 59);
    }
  }
}

@media screen and (max-width: 920px) {
  .bookings-container {
    display: none;
  }
}
