.forgot-password_modal {
  width: 100%;
  height: 100svh;
  background-color: var(--background-shadow-color);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2000;
  display: grid;
  place-content: center;

  > .forgot-password {
    width: 30rem;
    height: 22rem;
    background-color: #f6f6f6;
    border-radius: 1.5rem;
    border: 1px solid rgb(216, 216, 216);
    display: grid;
    grid-template-rows: 4rem 1fr;

    > h2.title {
      display: grid;
      place-content: center;
      border-bottom: 1px solid rgb(216, 216, 216);
      font-weight: 500;
      font-size: 0.9rem;
      color: var(--secondary-font-color);
    }

    > form {
      padding: 1.3rem 3rem;
      display: grid;
      grid-template-rows: max-content 1.3fr 2fr;
      gap: 1rem;
      color: var(--primary-font-color);

      > p {
        font-size: 0.85rem;
      }

      > label {
        display: flex;
        flex-direction: column;
        font-size: 0.75rem;
        gap: 0.2rem;
        margin-top: .3rem;

        > input {
          height: 2rem;
          outline: none;
          padding-left: 0.5rem;
          color: var(--primary-font-color);
        }
      }

      > .send-button {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        > input[type="submit"] {
          height: 2rem;
          background-color: #f6f6f6;
          border-radius: 0.2rem;
          border: 1px solid #cc3f0c9a;
          color: #cc3f0c9a;
          transition: all 0.3s ease;
          cursor: pointer;
        }

        > input[type="submit"]:hover {
          background-color: #cc3f0c9a;
          color: white;
          border: 1px solid white;
        }

        > p {
          display: flex;
          justify-content: center;
          font-size: 0.8rem;
          cursor: pointer;
          color: var(--tertiary-details-color);
          text-decoration: underline;
        }
      }
    }
  }
}
