@import url("https://fonts.googleapis.com/css2?family=Neucha&display=swap");

.card__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 11.5rem;
  flex-grow: 1;
  padding: 0 0.5rem;
  font-family: "Neucha", cursive;
  font-weight: 200;
  border-radius: 0.5rem;
  gap: 0.5rem;
  cursor: pointer;
}

.card__container .card__title {
  color: var(--clr-amber);
  font-size: 1.3rem;
}

.card__container .card__description {
  text-align: center;
  max-width: 20ch;
  font-size: 1.3rem;
}

.card__container .card__more {
  font-size: 0.9rem;
}
