.card__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 10rem;
  height: auto;
  flex-grow: 1;
  padding: 1.25rem 1rem;
  font-weight: 200;
  border-radius: 0.5rem;
  gap: 0.7rem;
  cursor: pointer;
  font-family: var(--font-serif);
}

.card__container .card__title {
  color: var(--clr-amber);
  font-size: 1.7rem;
  opacity: 0.9;
  font-family: var(--font-card);
  text-decoration: underline;
  text-underline-offset: 0.2rem;
  text-decoration-thickness: 1px;
}

.card__container .card__description {
  text-align: center;
  max-width: 20ch;
  font-size: 1rem;
  color: #000000b0;

  font-weight: 400;
}

.card__container .card__more {
  font-size: 0.8rem;
  display: flex;
  align-items: center;
  gap: 0.6rem;
}

@media (max-width: 480px) {
  .card__container {
    min-height: 8rem;
  }

  .card__container .card__title,
  .card__container .card__description {
    font-size: 1.1rem;
  }
}
