.services_more-info_container {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.188);
  z-index: 2000;
  display: grid;
  place-content: center;
}

.services_more-info {
  width: 33rem;
  height: 41rem;
  background-color: white;
  border-radius: 1rem;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.171);
  display: grid;
  padding: 1rem 3rem;
  grid-template-rows: max-content 1fr 5rem;
  gap: 0.5rem;

  & .service-modal_header {
    display: flex;
    align-content: center;
    justify-content: space-between;
    gap: 1rem;

    & div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      font-family: var(--primary-font);

      & h1 {
        display: flex;
        align-items: center;
        font-weight: 400;
        font-size: 1.4rem;
        letter-spacing: -0.05rem;
        min-height: 2.5rem;
        max-height: 4.5rem;
        color: var(--primary-font-color);
        line-height: 1.5rem;
        margin-bottom: 0.5rem;
      }

      & p {
        font-size: 0.9rem;
        display: flex;
        align-items: center;
        color: var(--secondary-font-color);
      }
    }

    & img {
      width: 9rem;
      height: 9rem;
      padding-top: 2%;
      opacity: 0.6;
    }
  }

  & .service-modal_body {
    & p {
      text-align: justify;
      font-family: var(--primary-font);
      line-height: 1.6rem;
      font-size: 0.85rem;
      color: var(--primary-font-color);
    }
  }

  & .service-modal_footer {
    display: flex;
    justify-content: end;

    & button {
      height: 3rem;
      padding: 0.8rem 2rem;
      border: none;
      border-radius: 3rem;
      font-size: 0.8rem;
      display: flex;
      gap: 0.7rem;
      align-items: center;
      background-color: #f6f6f6;
      cursor: pointer;
      text-decoration: underline;
      cursor: pointer;
      box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.244);
      border: 1px solid #cc3f0c9a;
      color: #cc3f0c9a;
    }

    & .schedule-icon {
      font-size: 1rem;
    }
  }
}

@media screen and (max-width: 580px) {
  .services_more-info {
    width: 100%;
    border-radius: 0;

    & .service-modal_header {
      & div {
        & h1 {
          font-size: 1.3rem;
        }

        & p {
          font-size: 0.8rem;
        }
      }

      & img {
        width: 8rem;
        height: 8rem;
      }
    }

    & .service-modal_body {
      & p {
        font-size: 0.8rem;
      }
    }
  }
}
