.services_more-info_container {
  width: 100%;
  height: 100svh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.188);
  z-index: 2000;
  display: grid;
  place-content: center;
}

.services_more-info {
  width: 28rem;
  height: 38.5rem;
  background-color: white;
  border-radius: 1rem;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.171);
  display: grid;
  padding: 1.2rem 4rem;
  grid-template-rows: 10rem 1fr 5rem;
  gap: 0.5rem;

  & .service-modal_header {
    display: flex;
    align-content: center;
    justify-content: space-between;
    gap: 1rem;

    & div {
      display: flex;
      flex-direction: column;
      justify-content: center;

      & h1 {
        display: flex;
        align-items: center;
        font-family: var(--services-modal-header);
        font-weight: 400;
        font-size: 2.1rem;
        letter-spacing: -0.15rem;
        min-height: 2.5rem;
        max-height: 4.5rem;
        color: rgba(0, 0, 0, 0.705);
        line-height: 2rem;
      }

      & p {
        font-family: var(--services-modal-header);
        font-size: 0.9rem;
        height: 1.5rem;
        display: flex;
        align-items: center;
        color: rgba(0, 0, 0, 0.487);
      }
    }

    & img {
      width: 9rem;
      height: 9rem;
      padding-top: 2%;
      opacity: 0.6;
    }
  }

  & .service-modal_body {
    & p {
      text-align: justify;
      font-family: var(--services-modal-header);
      line-height: 1.8rem;
      font-size: 1rem;
      color: rgba(0, 0, 0, 0.705);
    }
  }

  & .service-modal_footer {
    display: flex;
    justify-content: end;

    & button {
      height: 3rem;
      padding: 0.8rem 2rem;
      border: none;
      border-radius: 3rem;
      font-size: 0.8rem;
      display: flex;
      gap: 0.7rem;
      align-items: center;
      background-color: #336699;
      color: white;
      cursor: pointer;
      box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.244);
    }

    & .schedule-icon {
      font-size: 1rem;
    }
  }
}
