.request-reservation_modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100svh;
  background-color: rgba(0, 0, 0, 0.188);
  z-index: 2000;
  display: grid;
  place-content: center;
}

.request-reservation {
  width: 27rem;
  height: 31rem;
  background-color: white;
  border-radius: 1rem;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.171);
  display: grid;
  grid-template-rows: 5rem 1fr;
  padding: 2rem;
}

.request-reservation > .reservation_title {
  display: grid;
  place-content: center;

  & h1,
  h2 {
    font-family: var(--services-modal-header);
    font-weight: 400;
    display: flex;
    align-items: center;
  }

  & h1 {
    height: 1.3rem;
    font-size: 1.3rem;
    display: flex;
    justify-content: center;
  }

  & h2 {
    font-size: 1.9rem;
    height: 2rem;
  }
}

.request-reservation > .reservation_body {
  display: grid;
  padding: 1rem 0;
}

.reservation_body > form {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 6rem;

  & label {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    font-family: var(--primary-font);
    font-size: 0.9rem;

    & input,
    select,
    option {
      height: 2rem;
      border-radius: 0.3rem;
      border: 1px solid black;
      outline: none;
      padding: 0 0.5rem;
      font-family: var(--primary-font);
    }
  }

  .reservation_btn {
    display: flex;
    align-items: center;

    & button {
      border-radius: 3rem;
      border: none;
      color: white;
      border: 1px solid #cc3f0c9a;
      color: #cc3f0c9a;
      background-color: white;
      transition: all 0.3s ease;
      cursor: pointer;
      width: 100%;
      height: 3rem;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.5rem;
    }

    & button:hover {
      background-color: #cc3f0c9a;
      color: white;
      border: 1px solid white;
    }
  }
}
