@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

.categories-menu {
  display: grid;
  grid-template-rows: 0.3fr 1fr;
  min-height: 24.6875rem;
}

.categories-menu > .title {
  display: grid;
  justify-content: center;

  & h1 {
    font-family: var(--section-font);
    font-weight: lighter;
    font-size: 1.5rem;
    max-width: 40ch;
    text-align: center;
    color: #9e7682;
    display: flex;
    z-index: 1500;
    animation: show-left 1s ease;
  }
}

@keyframes show-left {
  from {
    opacity: 0;
    transform: translateX(-2rem);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.categories {
  display: flex;
  width: 100%;
  justify-content: center;
  overflow-x: auto;
  position: relative;
  height: 22rem;
}

.services-list {
  display: flex;
  gap: 2.2rem;
  justify-content: center;
  padding-top: 0.5rem;
  padding: 0 2rem;
}

.category-icon {
  font-size: 2rem;
  color: #283d3b;
  justify-self: center;
  filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.103));
}

.category-section {
  display: grid;
  grid-template-rows: 3rem 1fr;
  gap: 2.5%;
  position: relative;
  height: 100%;
  width: 15rem;
  cursor: pointer;
}

.category-icon ~ h2 {
  font-family: var(--primary-font);
  font-weight: lighter;
  font-size: 0.94rem;
  display: flex;
  text-align: center;
  justify-self: center;
  max-width: 11rem;
  line-height: 1.5rem;
  color: #4d4861;
}

.category-section > .divider-line {
  height: 70%;
  align-self: start;
  width: 1px;
  background-color: #4d48611f;
  position: absolute;
  right: -0.5rem;
  border-radius: 50%;
  margin-top: 0.5rem;
}

@media screen and (max-width: 1550px) {
  .categories-menu {
    display: grid;
    grid-template-rows: 0.23fr 1fr;
  }

  .categories-menu > .title {
    & h1 {
      padding-top: 0.3rem;
      font-size: 1.3rem;
    }
  }

  .categories {
    height: 20rem;
  }


}

@media screen and (max-width: 1400px) {
  .categories-menu {
    display: grid;
    grid-template-rows: 0.23fr 1fr;
  }

  .categories {
    height: 19.5rem;
  }


}
