.services-card_container {
  width: 19rem;
  height: 99%;
  border-radius: 0.2rem;
  display: grid;
  grid-template-rows: 28% 1fr;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.124);
  background-color: white;
}

@keyframes identifier {
  from {
  }
  to {
  }
}

.services-card_container .card-header {
  border-radius: 0.2rem 0.2rem 0 0;
  position: relative;

  & .icon {
    position: absolute;
    top: 1rem;
    left: 1rem;
    font-size: 1.1rem;
    color: white;
    filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.698));
  }

  & .card-img {
    width: 5.5rem;
    height: 5.5rem;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    bottom: 0;
    left: 50%;
    right: 50%;
    transform: translate(-50%, 50%);
    display: grid;
    place-content: center;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.42);

    & img {
      width: 5rem;
      height: 5rem;
      object-fit: cover;
      border-radius: 50%;
    }
  }
}

.services-card_container .card-description {
  border-radius: 0 0 0.2rem 0.2rem;
  display: grid;
  grid-template-rows: 0.65fr 1fr 0.4fr;
  width: 100%;
  justify-self: center;

  & h1 {
    display: flex;
    justify-content: center;
    align-items: end;
    text-align: center;
    justify-self: center;
    font-family: var(--service-cards-title);
    font-size: 0.9rem;
  }
  & p {
    text-align: center;
    font-family: var(--primary-font);
    font-size: 0.8rem;
    padding: 4% 0.7rem 0;
    line-height: 1.2rem;
  }

  & div.know-more {
    display: flex;
    justify-content: end;
    align-items: start;
    padding-right: 1rem;

    & div {
      display: flex;
      align-items: center;
      cursor: pointer;
      & p {
        margin: 0;
        font-size: 0.8rem;
        text-decoration: underline;
      }
      & .arrow-right {
        display: grid;
        place-content: center;
        filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.243));
      }
    }
  }
}

.food-guide_card .services-card_container .card-description {
  grid-template-rows: 7rem 1fr 2.4rem;
}
