.services-card_container {
  width: 100%;
  height: 12rem;
  border-radius: 0.2rem;
  display: grid;
  background-color: white;
  grid-template-columns: 12rem 1fr;
  border: 1px solid #c9c9c9;
}

.services-card_container {
  border-radius: 0.3rem;
  position: relative;

  & .color-line {
    position: absolute;
    width: 98%;
    height: 4px;
    top: .02rem;
    left: .9%;

  }

  & .icon {
    position: absolute;
    top: 1rem;
    left: 1rem;
    font-size: 1.1rem;
    color: white;
    filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.698));
  }

  & .card-img {
    display: grid;
    place-content: center;
  }
}

.service-image {
  width: 9.7rem;
  height: 9.7rem;
  object-fit: cover;
  border-radius: 50%;
  background-color: rgb(111, 111, 111);
}

.services-card_container .card-description {
  display: grid;
  grid-template-rows: max-content 1fr 0.4fr;
  width: 100%;
  justify-self: center;
  padding: 1.2rem 0;

  & h1 {
    display: flex;
    justify-content: center;
    text-align: center;
    justify-self: center;
    font-family: var(--primary-font);
    font-size: 0.76rem;
    font-weight: 600;
    color: var(--primary-font-color);
  }

  & p {
    text-align: center;
    font-family: var(--primary-font);
    font-size: 0.7rem;
    padding: 4% 0.7rem 0;
    line-height: 1.2rem;
    color: rgba(0, 0, 0, 0.823);
  }

  & div.know-more {
    display: flex;
    justify-content: center;
    align-items: start;
    padding-right: 1rem;

    & div {
      display: flex;
      align-items: center;
      cursor: pointer;
      width: 70%;
      height: 1.8rem;
      justify-content: center;
      border-radius: 0.5rem;

      & p {
        margin: 0;
        font-size: 0.8rem;
        color: white;
        display: grid;
        padding-bottom: 0.4rem;
      }
    }
  }
}

.food-guide_card .services-card_container .card-description {
  grid-template-rows: 7rem 1fr 2.4rem;
}

/* Media queries */

@media screen and (max-width: 1550px) {
  .services-card_container {
    width: 18rem;
  }

  .services-card_container .card-description {
    grid-template-rows: 0.65fr 1fr 0.4fr;

    & h1 {
      font-size: 0.7rem;
    }
    & p {
      font-size: 0.75rem;
    }

    & div.know-more {
      & div {
        & p {
          font-size: 0.75rem;
        }
      }
    }
  }
}

@media screen and (max-width: 1400px) {
  .services-card_container {
    width: 15rem;
  }

  .services-card_container .card-header {
    & .icon {
      font-size: 0.9rem;
    }

    & .card-img {
      width: 5rem;
      height: 5rem;

      & img {
        width: 4.5rem;
        height: 4.5rem;
      }
    }
  }

  .services-card_container .card-description {
    grid-template-rows: 0.65fr 1fr 0.4fr;

    & h1 {
      font-size: 0.75rem;
    }
    & p {
      font-size: 0.65rem;
    }

    & div.know-more {
      & div {
        & p {
          font-size: 0.6rem;
        }
      }
    }
  }
}
