.dots_container {
  position: absolute;
  display: flex;
  align-items: center;
  gap: 0.25rem;
  bottom: -5%;
  left: 47.5%;

  & div {
    width: 0.4rem;
    height: 0.4rem;
    border-radius: 50%;
    background-color: white;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.053);
  }

  & .selected-dot {
    border: 1.5px solid rgba(0, 0, 0, 0.342);
  }
}
