.presentation {
  width: 100%;
  height: 100%;
  padding: 0 10rem;
}

.background-image {
  width: 100%;
  height: 100%;
  position: relative;
  display: inline-block;
  background-image: url("/src/public/assets/banner9.jpg");
  background-size: cover;
  background-position: center;
}

.background-image::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 80%;
  background: linear-gradient(
    to top,
    rgba(246, 246, 246, 1) 0%,
    rgba(246, 246, 246, 0.8) 30%,
    rgba(246, 246, 246, 0) 100%
  );
  pointer-events: none;
}

.presentation-banner_container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  position: relative;

  & .banner {
    width: 37%;
    height: 15rem;
    position: relative;
    align-self: center;
    border-radius: 0.8rem;
    display: flex;

    & img {
      width: 100%;
      border-radius: 0.8rem;
      box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.107),
        4px 4px 5px 5px rgba(0, 0, 0, 0.02);
      object-fit: cover;
    }
  }
}

.presentation-banner_container .presentation-dots {
  position: absolute;
  bottom: 1.2rem;
  left: 48%;
}

.background-stencil_heart {
  width: 31%;
  box-shadow: none;
  position: absolute;
  left: 0rem;
  top: -14%;
  opacity: 0.2;
  animation: fade-in 1.5s ease;
}

.background-stencil_hug {
  width: 25%;
  position: absolute;
  right: 2rem;
  bottom: 16%;
  opacity: 0.2;
  animation: fade-in 2.5s ease;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.2;
  }
}

@media screen and (max-width: 1200px) {
  .presentation {
    padding: 0;
  }

  .background-image::after {
    height: 70%;
  }
}
