.disciplines-home {
  height: 9rem;
  display: flex;
  justify-content: center;

  > div {
    width: 100%;
    gap: 0.8rem;
    overflow-x: auto;
    display: flex;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
  }

  > div::-webkit-scrollbar {
    height: 0;
  }

  /* > div::-webkit-scrollbar-thumb {
  } */
}

@media screen and (max-width: 1050px) {
  .disciplines-home {
    height: 6.7rem;

    > div {
      gap: 0.4rem;
    }
  }
}

@media screen and (max-width: 670px) {
  .disciplines-home {
    display: flex;
    justify-content: start;
    width: 24.5rem;
    height: 7rem;

    > div {
      gap: 0.7rem;
    }
  }
}

@media screen and (max-width: 480px) {
  .disciplines-home {
    display: flex;
    justify-content: start;
    width: 20.3rem;
    height: 6rem;

    > div {
      gap: 0.6rem;
    }
  }
}

@media screen and (max-width: 390px) {
  .disciplines-home {
    display: flex;
    justify-content: start;
    width: 18.6rem;
    height: 6rem;

    > div {
      gap: 0.6rem;
    }
  }
}
