.discipline-card {
  width: 6.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;

  > a {
    text-decoration: none;
    color: inherit;
  }

  & p {
    font-size: 0.7rem;
    display: flex;
    justify-content: center;
    margin-top: 0.8rem;
    color: #2b1a0cb9;
    font-weight: 600;
  }
}

.discipline-card .icon-container {
  border-radius: 50%;
  width: 5.5rem;
  height: 5.5rem;
  border: 1.5px solid #d8d8d8;
  display: flex;
  color: #2b1a0c75;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;

  > div {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 1050px) {
  .discipline-card {
    width: 6rem;

    & p {
      font-size: 0.65rem;
      margin-top: 0.5rem;
    }
  }

  .discipline-card .icon-container {
    width: 5.3rem;
    height: 5.3rem;
    font-size: 1.4rem;
  }
}

@media screen and (max-width: 670px) {
  .discipline-card {
    width: 6.5rem;

    & p {
      font-size: 0.65rem;
      margin-top: 0.5rem;
    }
  }

  .discipline-card .icon-container {
    width: 5.6rem;
    height: 5.6rem;
    font-size: 1.4rem;
  }
}

@media screen and (max-width: 480px) {
  .discipline-card {
    width: 4.6rem;

    & p {
      font-size: 0.62rem;
      margin-top: 0.5rem;
    }
  }

  .discipline-card .icon-container {
    width: 4.6rem;
    height: 4.6rem;
    font-size: 1.4rem;
  }
}

@media screen and (max-width: 390px) {
  .discipline-card {
    width: 4.2rem;
  }

  .discipline-card .icon-container {
    width: 4.2rem;
    height: 4.2rem;
    font-size: 1.5rem;
  }
}
