.disciplines-home {
  height: 10.3rem;
  display: flex;
  justify-content: center;
  width: 41.5rem;


  > div {
    width: 100%;
    gap: 1.5rem;
    overflow-x: auto;
    display: flex;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
  }

  > div::-webkit-scrollbar {
    height: 0;
  }

  > div::-webkit-scrollbar-thumb {
  }
}
