.products-root-dashboard_mobile-container {
  display: none;
  flex-direction: column;
  margin-top: 1.3rem;
}

.products-root-dashboard_mobile-container .products-root-dashboard-mobile {
    > .split-products-card {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }
}

@media screen and (max-width: 920px) {
  .products-root-dashboard_mobile-container {
    display: flex;
  }
}
