.professional-bookings_container {
  padding-bottom: 2rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

  > div {
    width: 100%;
  }

  & .bookings-list {
    display: flex;
    flex-direction: column;
    gap: 0.9rem;
  }
}

.no-bookings-paragraph {
  font-family: var(--primary-font);
  font-size: 0.85rem;
  height: 5rem;
  display: grid;
  place-content: center;
}
