.modal-cms_add-viand_container {
  position: fixed;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.606);
  display: grid;
  place-content: center;
}

.add-viand-modal_form {
  width: 30rem;
  min-height: 40rem;
  max-height: 45rem;
  background-color: white;
  border-radius: 0.3rem;
  box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.065);
  display: grid;
  grid-template-rows: 5rem 1fr 7rem;
}

.add-viand-modal_form > .add-viand_title {
  border-bottom: 1px solid rgba(0, 0, 0, 0.208);
  display: grid;
  place-content: center;
  position: relative;

  & h1 {
    font-family: var(--presentation-banner-font);
    font-weight: 400;
    font-size: 1.2rem;
  }

  & .add-viand-modal-close {
    position: absolute;
    right: 2.5rem;
    top: 2.1rem;
    cursor: pointer;
  }
}

.add-viand-modal_form > .add-viand_body {
  display: grid;
  grid-template-rows: repeat(4, 4rem) max-content 1fr;
  width: 100%;
  padding: 0 2rem;

  & label {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    & input {
      width: 100%;
      height: 2.5rem;
      border: none;
      border-bottom: 2px solid rgba(0, 0, 0, 0.124);
      padding-left: 0.3rem;
      font-family: var(--presentation-banner-font);
      outline: none;
    }

    & input[type="file"] {
      display: none;
    }
  }

  .add-viand-ingredients {
    min-height: 4rem;
    max-height: 9rem;
    overflow-y: auto;
    font-family: var(--presentation-banner-font);
    display: flex;
    flex-direction: column;

    & .ingredients-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      min-height: 3.5rem;
      padding: 0 0.5rem;
      position: sticky;
      top: 0;
      background-color: white;

      & h3 {
        font-weight: 500;
      }
    }

    & button {
      font-family: var(--presentation-banner-font);
      outline: none;
      display: flex;
      align-items: center;
      border-radius: 0.2rem;
      background-color: white;

      & .icon {
        font-size: 1rem;
      }

      & .x-icon {
        border: none;
        font-size: 0.9rem;
        padding: 0.2rem;
      }
    }

    & button:hover {
      background-color: rgba(0, 0, 0, 0.041);
      cursor: pointer;
      transition: all ease 0.3s;
    }

    & .add-ingredient-button {
      border: 1px solid rgba(0, 0, 0, 0.164);
      padding: 0.2rem 1rem;
      font-size: 0.8rem;

      & .add-icon {
        padding: 0.2rem;
      }
    }

    & .remove-ingredient-button {
      width: 2rem;
      height: 2rem;
      display: grid;
      place-content: center;
      border: none;
    }

    & .ingredient-item {
      display: flex;
      justify-content: space-between;
      padding: 0 0.5rem;
      align-items: center;

      & input {
        width: 70%;
        height: 2rem;
        border: none;
        border-bottom: 1px solid rgba(0, 0, 0, 0.164);
        padding-left: 0.3rem;
        font-family: var(--presentation-banner-font);
        outline: none;
        margin-bottom: 1rem;
      }
    }

    &::-webkit-scrollbar {
      width: 3px; /* Altura de la barra horizontal */
    }

    &::-webkit-scrollbar-thumb {
      background: linear-gradient(90deg, #00000051, rgba(0, 0, 0, 0.372));
      border-radius: 4px; /* Esquinas redondeadas */
      border: none;
    }

    &::-webkit-scrollbar-track {
      background-color: rgba(200, 200, 200, 0.3); /* Color del fondo */
      border-radius: 4px; /* Esquinas redondeadas */
    }
  }

  & .add-viand_upload-photo {
    display: flex;
    gap: 1.2rem;
    margin-top: 1.3rem;

    & div {
      width: 4.2rem;
      height: 4.2rem;
      border-radius: 50%;
      border: 1px solid black;

      & .add-viand_selected-image-preview {
        padding: 0.1rem;
        opacity: 1;
      }

      & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        border-radius: 50%;
        padding: 0.7rem;
        opacity: 0.5;
      }
    }

    & p {
      font-family: var(--presentation-banner-font);
      font-size: 0.9rem;
      color: rgba(0, 0, 0, 0.59);
      background-color: rgba(0, 0, 0, 0.081);
      padding: 0.5rem 0.8rem;
      cursor: pointer;
    }
  }
}

.add-viand-modal_form > .add-viand_buttons {
  display: flex;
  align-items: start;
  justify-content: space-around;
  padding-top: 1.5rem;

  & .add-cancel-viand {
    font-size: 1.6rem;
    cursor: pointer;
    filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.648));
  }

  & .add-cancel-viand_close {
    color: #cc3f0c;
  }

  & .add-cancel-viand_done {
    color: #72b01d;
  }

  & .add-cancel-viand:active {
    filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.648));
  }
}

#add-viand_submit {
  display: none;
}

@media screen and (max-width: 520px) {
  .modal-cms_add-viand_container {
    display: flex;
    align-items: center;
  }

  .add-viand-modal_form {
    width: 100%;
    border-radius: 0;
  }
}
