.cms-product-list {
  display: grid;
  min-height: 15rem;
  grid-template-rows: 1.8rem 1fr 2.5rem;
  padding: 0.8rem 1.2rem 1rem 1.2rem;
  gap: 0.8rem;
  width: 100%;
  position: relative;
}

.cms-product_filter {
  & form {
    height: 100%;
    display: flex;
    position: relative;

    & input {
      width: 100%;
      border-radius: 0.3rem;
      border: 1px solid rgba(0, 0, 0, 0.491);
      padding: 0 0.7rem;
      font-family: var(--primary-font);
      outline: none;
      font-size: 0.75rem;
    }

    & .products_search-filter_icon {
      position: absolute;
      top: 0.35rem;
      right: 0.6rem;
    }
  }
}

.cms-product_body {
  display: flex;
  flex-direction: column;

  & .header_table > tr {
    height: 1.4rem;
    & .header_table-name {
      display: flex;
      font-family: var(--primary-font);
      font-size: 0.7rem;
    }

    & .header_table-price,
    .header_table-options {
      font-family: var(--primary-font);
      font-size: 0.7rem;
    }

    & td {
      font-family: var(--primary-font);
      font-size: 0.8rem;
    }
  }
}

.cms-product-add {
  display: flex;
  justify-content: center;
  gap: 0.7rem;
  align-items: center;
  border-top: 1px solid rgba(0, 0, 0, 0.175);
  padding-top: 0.75rem;
  cursor: pointer;
  margin: 0rem 0.9rem 0;
  user-select: none;

  .add-product_icon {
    display: flex;
    color: #613dc1;
  }

  & h1 {
    font-family: var(--primary-font);
    font-size: 0.7rem;
    font-weight: 500;
    color: #613dc1;
  }

  & h1:hover {
    color: #603dc1b4;
  }
}
