.specialties-root-dashboard_mobile-container {
  display: none;
  flex-direction: column;
  margin-top: 1.3rem;
}

.specialties-root-dashboard_mobile-container .specialties-root-dashboard-mobile {
  > .split-specialties-card {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
}

.specialties-root-dashboard_mobile-container .error {
  display: flex;
  justify-content: center;
  font-size: 0.9rem;
  color: rgb(53, 53, 53);
  margin: 2rem 0;
}

.specialties-root-dashboard_mobile-container .no-specialties {
  display: flex;
  justify-content: center;
  padding: 2rem 0;
  font-size: 0.85rem;
  color: #888;
}

.specialties-root-dashboard_mobile-container .add-specialty_btn {
  display: flex;
  justify-content: end;
  padding: 0 1.8rem;

  > button {
    margin-top: 1rem;
    padding: 0.5rem 0.9rem;
    border: none;
    background-color: #db5a42;
    color: white;
    font-size: 0.8rem;
    border-radius: 0.2rem;
    font-weight: 500;
    cursor: pointer;
    transition: opacity 0.2s ease;

    &:hover { opacity: 0.8; }
  }
}

@media screen and (max-width: 920px) {
  .specialties-root-dashboard_mobile-container { display: flex; }
}
