.products-carousel_container {
  width: 82.8rem;
  height: 25rem;
  display: grid;
  position: relative;
  align-self: center;
  z-index: 10;
  justify-content: center;
  border-radius: 0.3rem;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.057);
  background-color: white;
  grid-template-rows: 2.5rem 1fr;
  gap: 1.2rem;
}

.carousel-header {
  display: flex;
  align-items: end;
  color: rgba(0, 0, 0, 0.761);
  width: 80rem;

  & p {
    font-family: var(--primary-font);
    font-weight: 400;
    font-size: 0.96rem;
    color: var(--primary-font-color);
  }

  & .carousel-more {
    font-size: 0.8rem;
    margin-left: 0.4rem;
    color: var(--tertiary-details-color);
    cursor: pointer;
  }
}

.products-carousel_container .product-list {
  display: flex;
  align-items: center;
  width: 80rem;
}

.products-carousel_container .next-page {
  position: absolute;
  right: -1.7em;
  top: 43%;
  font-size: 1.35rem;
  width: 4rem;
  height: 4rem;
  z-index: 1600;
  border-radius: 50%;
  display: grid;
  place-content: center;
  color: var(--tertiary-details-color);
  background-color: white;
  box-shadow: 2px 0px 4px 2px rgba(0, 0, 0, 0.034);
  cursor: pointer;
}

.products-carousel_container .product-list .dots_container {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;

  display: flex;
  align-items: center;
  gap: 0.2rem;

  & div {
    width: 0.4rem;
    height: 0.4rem;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.1);
    box-shadow: none;
  }

  & .selected-dot {
    background-color: #3483fa;
  }
}

.products-carousel_dots {
  position: absolute;
  right: 2rem;
  top: 1rem;
}

@media screen and (max-width: 1550px) {
  .products-carousel_container {
    width: 79rem;
    height: 23rem;
    grid-template-rows: 2.5rem 1fr;
    gap: 0rem;
  }

  .carousel-header {
    & p {
      font-size: 0.9rem;
    }

    & .carousel-more {
      font-size: 0.8rem;
    }
  }
}

@media screen and (max-width: 1400px) {
  .products-carousel_container {
    width: 67rem;
    height: 19rem;
    grid-template-rows: 2rem 1fr;
  }

  .carousel-header {
    & p {
      font-size: 0.8rem;
      padding-left: 1.5rem;
    }

    & .carousel-more {
      font-size: 0.7rem;
    }
  }

  .products-carousel_container .next-page {
    font-size: 1.1rem;
  }
}
