.products-carousel_container {
  display: grid;
  position: relative;
  z-index: 10;
  border-radius: 0.3rem;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.057);
  background-color: white;
  grid-template-rows: 2.5rem 1fr;
  gap: 1.2rem;
  padding-left: 2rem;
}

.carousel-header {
  display: flex;
  align-items: end;
  color: rgba(0, 0, 0, 0.761);

  & p {
    font-family: var(--primary-font);
    font-weight: 400;
    font-size: 0.96rem;
    color: var(--primary-font-color);
  }

  & .carousel-more {
    font-size: 0.8rem;
    margin-left: 0.4rem;
    color: var(--tertiary-details-color);
    cursor: pointer;
  }
}

.products-carousel_container .product-list {
  display: flex;
  align-items: center;
  padding: 0 2rem;
  gap: 0.5rem;
  width: 100%;
}

.products-carousel_container .next-page {
  position: absolute;
  right: -1.7em;
  top: 43%;
  z-index: 1600;
}

.products-carousel_container .previous-page {
  position: absolute;
  left: -1.7em;
  top: 43%;
  z-index: 1600;
}

.products-carousel_container .product-list .dots_container {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  display: flex;
  align-items: center;
  gap: 0.2rem;

  & div {
    width: 0.4rem;
    height: 0.4rem;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.1);
    box-shadow: none;
  }

  & .selected-dot {
    background-color: #3483fa;
  }
}

.products-carousel_dots {
  position: absolute;
  right: 2rem;
  top: 1rem;
}
