.product-card_container {
  width: 16.66%;
  height: 95%;
  border-radius: 0.1rem;
  display: grid;
  grid-template-rows: 1fr 1fr;
  background-color: white;
  z-index: 10;
  cursor: pointer;
  transition: all 0.3s ease;
}

.product-card_header {
  border-bottom: 2px solid rgba(0, 0, 0, 0.053);
  display: flex;
  justify-content: space-between;
  align-items: center;

  & p {
    font-family: var(--primary-font);
    font-size: 0.7em;
  }

  & .product-card_cart-icon {
    font-size: 0.94rem;
    height: 100%;
    display: flex;
    align-items: center;
    margin-top: 10%;
  }
}

.product-card_image {
  height: 97.6%;
  display: grid;
  justify-content: center;

  & img {
    width: 96%;
    height: 96%;
    object-fit: cover;
    object-position: center;
  }
}

.product-card_body {
  display: grid;
  grid-template-rows: max-content max-content 1fr;
  padding: 0 2%;

  & .product-title,
  .product-description,
  .product-price {
    font-family: var(--primary-font);
    color: rgba(0, 0, 0, 0.599);
    font-size: 0.8em;
  }

  & .product-title {
    display: flex;
    height: 100%;
    font-weight: 500;
    line-height: 1.1rem;
    margin-bottom: 0.3em;
  }

  & .product-description {
    color: #00a650;
    margin-bottom: 0.2em;
  }

  & .product-price {
    display: flex;
    align-items: center;
    font-family: var(--cards-footer-font);
    font-size: 1.5em;
    font-weight: lighter;
    font-weight: 400;
    margin-top: 0.4rem;

    & span {
      font-size: 0.7rem;
      height: 100%;
      padding-top: 5%;
    }
  }
}

/* Media queries */

@media screen and (max-width: 1550px) {
  .product-card_container {
    width: 12.5rem;
    height: 95%;
  }

  .product-card_image {
    & img {
      width: 85%;
      height: 85%;
      align-self: center;
    }
  }

  .product-card_body {
    & .product-title,
    .product-description,
    .product-price {
      font-size: 0.75em;
    }

    & .product-title {
      margin-bottom: 0.4em;
    }

    & .product-description {
      margin-bottom: 1em;
    }

    & .product-price {
      font-size: 1.4em;
      margin-top: 0.3rem;

      & span {
        font-size: 0.7rem;
        height: 2rem;
        padding-top: 0;
      }
    }
  }
}

@media screen and (max-width: 1400px) {
  .product-card_container {
    width: 12rem;
    height: 95%;
  }

  .product-card_body {
    & .product-title,
    .product-description,
    .product-price {
      font-size: 0.7em;
    }

    & .product-price {
      font-size: 1.3em;

      & span {
        font-size: 0.6rem;
      }
    }
  }
}

@media screen and (max-width: 1400px) {
  .product-card_container {
    width: 10.9rem;
  }

  .product-card_image {
    & img {
      width: 70%;
      height: 70%;
    }
  }
}
