.services-card_container {
  width: 100%;
  height: 12rem;
  display: grid;
  background-color: white;
  grid-template-columns: 12rem 1fr;
  border: 1px solid #c9c9c9;
}

.right-service-cards {
  grid-template-columns: 1fr 12rem;
}

.services-card_container {
  border-radius: .3rem .3rem .6rem 0.6rem;
  position: relative;

  & .color-line {
    position: absolute;
    width: 95%;
    top: 0rem;
    left: 2.3%;
  }

  & .icon {
    position: absolute;
    top: 1rem;
    left: 1rem;
    font-size: 1.1rem;
    color: white;
    filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.698));
  }

  & .card-img {
    display: grid;
    place-content: center;
  }
}

.service-image {
  width: 9.5rem;
  height: 9.5rem;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.113),
    0 0 5px 10px rgba(0, 0, 0, 0.052);
}

.services-card_container .card-description {
  display: grid;
  grid-template-rows: max-content 1fr 0.4fr;
  width: 100%;
  justify-self: center;
  padding: 1.2rem 0;

  & h1 {
    display: flex;
    justify-content: center;
    text-align: center;
    justify-self: center;
    font-family: var(--primary-font);
    font-size: 0.76rem;
    font-weight: 600;
    color: var(--primary-font-color);
  }

  & p {
    text-align: center;
    font-family: var(--primary-font);
    font-size: 0.7rem;
    padding: 4% 0.7rem 0;
    line-height: 1.1rem;
    color: rgba(0, 0, 0, 0.823);
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    max-height: 4rem;
  }

  & div.know-more {
    display: flex;
    justify-content: center;
    align-items: start;
    padding-right: 1rem;

    & div {
      display: flex;
      align-items: center;
      cursor: pointer;
      width: 8rem;
      height: 1.8rem;
      justify-content: center;
      border-radius: 0.5rem;
      box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.113),
        0 0 5px 10px rgba(0, 0, 0, 0.052);
      height: 87%;

      & p {
        margin: 0;
        font-size: 0.8rem;
        color: white;
        display: grid;
        padding-bottom: 0.4rem;
      }
    }
  }
}

.food-guide_card .services-card_container .card-description {
  grid-template-rows: 7rem 1fr 2.4rem;
}

/* Media queries */

@media screen and (max-width: 1390px) {
  .services-card_container {
    height: 12rem;
    grid-template-columns: 10rem 1fr;
  }

  .right-service-cards {
    grid-template-columns: 1fr 10rem;
  }

  .service-image {
    width: 8.5rem;
    height: 8.5rem;
  }

  .services-card_container .card-description {
    & h1 {
      font-size: 0.7rem;
    }

    & p {
      font-size: 0.65rem;
    }
  }
}

@media screen and (max-width: 1280px) {
  .service-image {
    width: 7.5rem;
    height: 7.5rem;
  }
}

@media screen and (max-width: 1230px) {
  .services-card_container {
    height: 11rem;
    grid-template-columns: 10rem 1fr;
  }

  .right-service-cards {
    grid-template-columns: 1fr 10rem;
  }
}

@media screen and (max-width: 1200px) {
  .services-card_container {
    max-width: 30.5rem;
    justify-self: center;
    height: 14rem;
    grid-template-columns: 12rem 1fr;
  }

  .right-service-cards {
    grid-template-columns: 1fr 12rem;
  }

  .service-image {
    width: 9.5rem;
    height: 9.5rem;
  }

  .services-card_container .card-description {
    & h1 {
      font-size: 0.85rem;
    }

    & p {
      font-size: 0.8rem;
    }
    & div.know-more {
      & div {
        width: 13rem;
      }
    }
  }
}

@media screen and (max-width: 540px) {
  .services-card_container {
    grid-template-columns: 8rem 1fr;
    border-radius: 0.1rem;
    border: none;
    padding: 0 1rem;
  }

  .right-service-cards {
    grid-template-columns: 1fr 8rem;
  }

  .service-image {
    width: 7rem;
    height: 7rem;
  }

  .services-card_container .card-description {
    & h1 {
      font-size: 0.75rem;
    }

    & p {
      font-size: 0.7rem;
    }
    & div.know-more {
      & div {
        width: 10rem;
      }
    }
  }
}
