@import url("https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&display=swap");

.dashboard-layout_container {
  min-height: 100dvh;
  display: grid;
  background-color: white;
}

.dashboard-layout_container > .dashboard {
  width: 100%;
  display: grid;
  background-color: #f6f6f6;
  grid-template-columns: 21rem 1fr;
}

.dashboard-layout_container > .dashboard > .left-menu {
  background-color: white;
  display: grid;
  grid-template-rows: 6rem 1fr;
  padding: 0 1.5rem;
  gap: 1.5rem;
  box-shadow: 0 0 10px 5px rgba(141, 141, 141, 0.078);

  > .dashboard-logo {
    display: grid;
    place-content: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.094);

    > a {
      text-decoration: none;
      color: rgb(30, 30, 30);

      > div.logo-container {
        display: flex;
        justify-content: center;
        align-items: end;

        > img {
          width: 2.2rem;
        }

        > span {
          font-family: "Merienda", cursive;
          font-size: 1.1rem;
          margin-right: 0.6rem;
        }
      }

      > p {
        font-size: 0.75rem;
        text-decoration: none;
      }
    }
  }
}

.dashboard & .content {
  width: 100%;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 1320px) {
  .dashboard-layout_container > .dashboard {
    grid-template-columns: 1fr;
  }

  .dashboard-layout_container > .dashboard > .left-menu {
    display: none;
  }
}
