.dashboard-layout_container {
  min-height: 100dvh;
  display: grid;
  background-color: white;
}

.dashboard-layout_container > .dashboard {
  width: 100%;
  display: grid;
  background-color: #f4f5f7;
  grid-template-columns: 21rem 1fr;
}

.dashboard-layout_container > .dashboard > .left-menu {
  background-color: white;
  display: grid;
  grid-template-rows: 5rem 1fr;
  padding: 0 1.2rem;
  gap: 1.5rem;
  border-right: 1px solid #ebebeb;

  > .dashboard-logo {
    display: grid;
    place-content: center;
    border-bottom: 1px solid #f0f0f0;

    > a {
      text-decoration: none;
      color: rgb(30, 30, 30);

      > div.logo-container {
        display: flex;
        justify-content: center;
        align-items: end;

        > img {
          width: 2.2rem;
        }

        > span {
          font-family: var(--font-logo);
          font-size: 1.4rem;
          margin-right: 0.6rem;
        }
      }

      > p {
        font-size: 0.75rem;
        text-decoration: none;
      }
    }
  }
}

.dashboard & .content {
  width: 100%;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 1320px) {
  .dashboard-layout_container > .dashboard {
    grid-template-columns: 1fr;
  }

  .dashboard-layout_container > .dashboard > .left-menu {
    display: none;
  }
}
