.section-title {
  display: flex;
  justify-content: center;

  > h1 {
    font-family: var(--fourthy-font);
    color: var(--section-font-color);
    font-size: 1.2rem;
    font-weight: 400;
    display: flex;
  }
}
