.header {
  height: 4.3rem;
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  border-radius: 0 0 0.2rem 0.2rem;
  background-color: #f6f6f6;
  align-items: center;
  transition: all 0.3s ease;
  width: 100%;
  justify-self: center;
  padding: 0 5rem;

  > .loader-spinner_user {
    width: 12rem;
    height: 45%;
    justify-self: end;
  }
}

.header-logo {
  display: grid;
}

.header-logo > div {
  width: max-content;

  > .logo-container {
    display: grid;
    grid-template-columns: 3rem max-content;
    grid-template-rows: 1fr 1fr;
    cursor: pointer;
    text-decoration: none;
  }
}

.header-logo img {
  width: 3rem;
  justify-self: center;
  align-self: center;
  grid-row: 1 / 3;
  filter: drop-shadow(0 0 1px rgba(0, 0, 0, 0.172));
}

.header-logo p {
  font-family: var(--primary-font);
  font-size: 0.75rem;
  font-weight: 500;
  padding-left: 0.4rem;
  color: var(--header-font-color);
}

.header-logo p:nth-child(2) {
  align-self: end;
}

.header-menu {
  display: grid;
}

.header-menu > ul {
  display: flex;
  list-style: none;
  gap: 2rem;
}

.header-menu > ul li,
.header-menu > ul li a {
  font-family: var(--primary-font);
  font-weight: 500;
  cursor: pointer;
  font-size: 0.7rem;
  color: var(--header-font-color);
  height: 2rem;
  display: flex;
  align-items: center;
  text-decoration: none;
}

.header-cart_container {
  position: relative;

  > .header-cart {
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 1.1rem;
  }

  .mobile_burger-menu .cart-icon_container {
    position: relative;
  }

  & .cart-amount {
    margin-top: 0;
    background-color: var(--primary-details-color);
    width: 1rem;
    height: 0.93rem;
    border-radius: 50%;
    display: grid;
    place-content: center;
    font-size: 0.6rem;
    color: white;
    position: absolute;
    top: -0.5rem;
    right: -0.4rem;
    font-weight: 600;
  }
}

.header-menu ul li:hover {
  margin-bottom: -2px;
  border-bottom: 2px solid #a18276;
}

.header-user {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 0.7rem;

  & p,
  span {
    display: flex;
    align-items: center;
    font-family: var(--primary-font);
    font-size: 0.7rem;
    font-weight: 400;
    color: var(--header-font-color);
  }

  & p {
    cursor: pointer;
  }

  & .user-icon,
  .log-out-icon {
    font-size: 0.8rem;
    margin-right: 0.5rem;
  }

  & .log-out {
    color: var(--primary-details-color);
    cursor: pointer;
  }
}

.header-login {
  display: grid;
}

.header-login > div {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-self: end;
}

.header-login .register-button {
  font-family: "Quicksand", sans-serif;
  font-size: 0.7rem;
  padding-left: 0.2rem;
  display: flex;
  justify-content: center;
  color: #a18276;
  font-weight: 600;
  text-decoration: underline;
  cursor: pointer;
}

.header-login > div > input {
  width: 9rem;
  height: 1.9rem;
  border-radius: 1rem;
  font-family: "Quicksand", sans-serif;
  color: #a18276;
  border: 1px solid #a18276;
  cursor: pointer;
}

.header .mobile_burger-menu {
  width: 100%;
  justify-content: end;
  gap: 1.5rem;
  display: none;
}

.mobile_burger-menu .mobile_header-cart_container .header-cart_mobile {
  font-size: 1.4rem;
  height: 100%;
  display: flex;
  align-items: center;
}

.mobile_burger-menu .burger-menu_icon {
  font-size: 1.9rem;
}



@media screen and (max-width: 1200px) {
  .header {
    width: 65rem;
  }

  .header-logo p {
    font-size: 0.7rem;
  }

  .header-menu > ul li,
  .header-menu > ul li a {
    font-family: var(--primary-font);
    font-size: 0.63rem;
  }

  .header-login .register-button {
    font-size: 0.63rem;
  }
}

@media screen and (max-width: 970px) {
  .header {
    width: 100%;
    display: flex;
    padding: 0 2rem;

    > .loader-spinner_user {
      display: none;
    }
  }

  .header-menu {
    display: none;
  }

  .header-login > div {
    display: none;
  }

  .header .mobile_burger-menu {
    display: flex;
  }

  .header-user {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  .header {
    padding: 0 1rem;
  }
}
