.home-container {
  display: flex;
  flex-direction: column;
}

.home-container .home-section {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: center;

  > .section-title {
    position: relative;

    > .special-font {
      width: max-content;
      font-size: 1rem;
      display: flex;
      justify-content: center;
      color: #4d4d4d;
      background-color: #f6f6f6;
      padding: 0 2rem;
      font-weight: 500;
    }

    > hr {
      position: absolute;
      width: 32rem;
      border-color: #4d4d4d1d;
      z-index: -1;
      justify-self: center;
      top: 50%;
    }
  }
}

.disciplines_container {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5rem;
}

.services_container {
  margin-top: 2rem;
}

.presentation_container .decoration-line {
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #dac6b571;
  bottom: -3px;
}

.products_container {
  position: relative;
  margin-top: 2.5rem;
}

.products_container .decoration-line {
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #000000;
  top: 0;
}

.recipes_container {
  margin-top: 2.5rem;
}

.faq_container {
  min-height: 46rem;
  margin-top: 6rem;
  padding-bottom: 6rem;
}

.home-container .home-section .quotes_container {
  display: flex;
  justify-content: center;
  height: 27rem;
}

.footer_container {
  height: 26rem;
  width: 100%;
}

@media screen and (max-width: 1350px) {
  .about-us_container {
    height: 120svh;
  }
}

@media screen and (max-width: 1250px) {
  .footer_container {
    height: 50rem;
  }
}

@media screen and (max-width: 920px) {
  .services_container {
    padding: 0 6rem;
    margin-top: 1.5rem;
  }
}

@media screen and (max-width: 720px) {
  .about-us_container {
    height: 220svh;
    display: grid;
    place-content: center;
    position: relative;
  }

  .services_container {
    padding: 0 1rem;
    margin-top: 0rem;
  }
}

@media screen and (max-width: 540px) {
  .services_container {
    padding: 0;
    margin-top: 1.5rem;
  }
}
