.products-carousel_container {
  display: grid;
  position: relative;
  z-index: 10;
  border-radius: 0.3rem;
  background-color: white;
  grid-template-rows: 2.5rem 1fr;
  gap: 1.2rem;
  padding: 0 3rem 1rem;
  width: 65.375rem;
}

.carousel-header {
  display: flex;
  align-items: end;
  color: rgba(0, 0, 0, 0.761);

  & p {
    font-family: var(--primary-font);
    font-weight: 400;
    font-size: 0.96rem;
    color: var(--primary-font-color);
  }

  & .carousel-more {
    font-size: 0.8rem;
    margin-left: 0.4rem;
    color: var(--tertiary-details-color);
    cursor: pointer;
  }
}

.products-carousel_container .product-list {
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 14rem;

  > .product-list_loader-container {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;

    justify-content: space-evenly;

    > .loader-spinner_products {
      width: 10.875rem;
      height: 100%;
      border-radius: 0.1rem;
    }
  }

  > .network-error_products {
    width: 100%;
  }
}

.products-carousel_container .next-page {
  position: absolute;
  right: -1.7em;
  top: 43%;
  z-index: 1600;
}

.products-carousel_container .previous-page {
  position: absolute;
  left: -1.7em;
  top: 43%;
  z-index: 1600;
}

.products-carousel_container .product-list .dots_container {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  display: flex;
  align-items: center;
  gap: 0.2rem;

  & div {
    width: 0.4rem;
    height: 0.4rem;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.1);
    box-shadow: none;
  }

  & .selected-dot {
    background-color: #3483fa;
  }
}

.products-carousel_dots {
  position: absolute;
  right: 2rem;
  top: 1rem;
}

/* Media queries */

@media screen and (max-width: 1350px) {
  .products-carousel_container .product-list {
    > .product-list_loader-container {
      > .loader-spinner_products {
        width: 9.875rem;
      }
    }
  }
}

@media screen and (max-width: 1260px) {
  .products-carousel_container .product-list {
    > .product-list_loader-container {
      > .loader-spinner_products {
        width: 10.875rem;
      }
    }
  }
}

@media screen and (max-width: 1160px) {
  .products-carousel_container .product-list {
    > .product-list_loader-container {
      > .loader-spinner_products {
        width: 9.875rem;
      }
    }
  }
}

@media screen and (max-width: 1100px) {
  .products-carousel_container .product-list {
    > .product-list_loader-container {
      > .loader-spinner_products {
        width: 9rem;
      }
    }
  }
}

@media screen and (max-width: 1050px) {
  .products-carousel_container .product-list {
    gap: 1.4rem;
    > .product-list_loader-container {
      > .loader-spinner_products {
        width: 10.875rem;
      }
    }
  }
}

@media screen and (max-width: 970px) {
  .products-carousel_container {
    padding: 0 5rem 2.5rem;
  }

  .products-carousel_container .next-page {
    right: 1rem;
  }

  .products-carousel_container .previous-page {
    left: 1rem;
  }
}

@media screen and (max-width: 880px) {
  .products-carousel_container .product-list {
    gap: 1.4rem;
    > .product-list_loader-container {
      > .loader-spinner_products {
        width: 9.875rem;
      }
    }
  }
}

@media screen and (max-width: 815px) {
  .products-carousel_container {
    border: none;
    box-shadow: none;
  }

  .products-carousel_container .product-list {
    > .product-list_loader-container {
      > .loader-spinner_products {
        width: 11.875rem;
      }
    }
  }
}

@media screen and (max-width: 750px) {
  .products-carousel_container {
    grid-template-rows: 1fr;
    padding: 2.5rem 5rem;
  }

  .products-carousel_container .product-list {
    > .product-list_loader-container {
      > .loader-spinner_products {
        width: 9.875rem;
      }
    }
  }

  .carousel-header {
    display: none;
  }
}

@media screen and (max-width: 640px) {
  .products-carousel_container {
    border-radius: 0;
    box-shadow: none;
    padding: 0 5.5rem 2.5rem;
  }
}

@media screen and (max-width: 540px) {
  .products-carousel_container .product-list {
    > .product-list_loader-container {
      > .loader-spinner_products {
        width: 8.875rem;
      }
    }
  }
}

@media screen and (max-width: 470px) {
  .products-carousel_container {
    grid-template-rows: 1fr;
    padding: 2.5rem 3rem;
  }

  .products-carousel_container .product-list {
    justify-content: center;
  }
}
