.product-card_container {
  width: 11.875rem;
  height: 93%;
  border-radius: 0.1rem;
  display: grid;
  grid-template-rows: 1.6fr 1fr;
  background-color: white;
  z-index: 10;
  cursor: pointer;
  transition: all 0.3s ease;
}

.product-card_header {
  border-bottom: 2px solid rgba(0, 0, 0, 0.053);
  display: flex;
  justify-content: space-between;
  align-items: center;

  & p {
    font-family: var(--primary-font);
    font-size: 0.7em;
  }

  & .product-card_cart-icon {
    font-size: 0.94rem;
    height: 100%;
    display: flex;
    align-items: center;
    margin-top: 10%;
  }
}

.product-card_image {
  display: grid;
  justify-content: center;
  position: relative;
  transition: opacity 0.3s ease; /* Añadido para transición suave si se necesita en el contenedor */
  margin-bottom: 0.2rem;
}

.product-card_container:hover img,
.product-card_container:hover .add-to-cart_icon {
  /* Ambos elementos reaccionan al hover del contenedor */
  opacity: 0.5; /* Puedes ajustar la opacidad para ambos */
}

.product-card_container img {
  width: 8rem;
  height: 8rem;
  object-fit: cover;
  object-position: center;
  transition: opacity 0.3s ease; /* Transición suave para la imagen */
  border-radius: 0.2rem;
}

.add-to-cart_icon {
  position: absolute;
  top: 50%;
  bottom: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
  right: 50%;
  opacity: 0; /* Inicia con opacidad 0 */
  transition: opacity 0.3s ease; /* Transición suave para el icono */
  font-size: 3rem;
  color: rgb(40, 40, 40);
}

.product-card_container:hover .add-to-cart_icon {
  opacity: 0.8; /* El icono aparece cuando se hace hover sobre el contenedor */
}

.product-card_body {
  display: grid;
  grid-template-rows: max-content max-content 1fr;
  padding: 0 2%;

  & .product-title,
  .product-description,
  .product-price {
    font-family: var(--primary-font);
    color: var(--primary-font-color);
    font-size: 0.75em;
  }

  & .product-title {
    display: flex;
    height: 100%;
    font-weight: 500;
    line-height: 1.1rem;
    margin-bottom: 0.3em;
  }

  & .product-description {
    color: var(--secondary-details-color);
    margin-bottom: 0.2em;
  }

  & .product-price {
    display: flex;
    align-items: center;
    font-size: 1.3em;
    font-weight: lighter;
    font-weight: 400;
    margin-top: 0.4rem;

    & span {
      font-size: 0.7rem;
      height: 100%;
      padding-top: 5%;
    }
  }
}

/* Media queries */

@media screen and (max-width: 1200px) {
  .product-card_body {
    display: grid;
    grid-template-rows: max-content max-content 1fr;
    padding: 0 2%;

    & .product-title,
    .product-description,
    .product-price {
      font-family: var(--primary-font);
      color: var(--primary-font-color);
      font-size: 0.65rem;
    }

    & .product-title {
      display: flex;
      height: 100%;
      font-weight: 500;
      line-height: 1.1rem;
      margin-bottom: 0.3em;
    }

    & .product-description {
      color: var(--secondary-details-color);
      margin-bottom: 0.2em;
    }

    & .product-price {
      display: flex;
      align-items: center;
      font-size: 1.3em;
      font-weight: lighter;
      font-weight: 400;
      margin-top: 0.4rem;

      & span {
        font-size: 0.7rem;
        height: 100%;
        padding-top: 5%;
      }
    }
  }
}

@media screen and (max-width: 1050px) {
  .product-card_container {
    width: 25%;
  }
}
@media screen and (max-width: 970px) {
  .product-card_container {
    width: 33%;
  }
}
@media screen and (max-width: 815px) {
  .product-card_container {
    width: 50%;
  }
}

@media screen and (max-width: 470px) {
  .product-card_container {
    width: 60%;
  }
}
