.sub-menu {
  position: relative;
  width: 92%;
  height: 1.9rem;
  overflow: hidden;
  background: #153f6c;
  display: flex;
  align-items: center;
  color: white;
  font-family: var(--primary-font);
  font-size: 0.8rem;
  padding-bottom: 0.2rem;
  border-radius: 0.1rem;
  margin-bottom: 0.3rem;
}

.sub-menu p {
  position: absolute;
  white-space: nowrap;
  animation: translateLeft 60s linear infinite;

  > span {
    margin: 0 100px;
  }
}

@keyframes translateLeft {
  from {
    transform: translateX(60%);
  }
  to {
    transform: translateX(-100%);
  }
}

@media screen and (max-width: 1400px) {
  .sub-menu {
    width: 75rem;
  }
}

@media screen and (max-width: 1200px) {
  .sub-menu {
    width: 65rem;
  }
}

@media screen and (max-width: 1050px) {
  .sub-menu {
    width: 57rem;
  }
}

@media screen and (max-width: 970px) {
  .sub-menu {
    width: 100%;
  }
}

@media screen and (max-width: 670px) {
  .sub-menu {
    height: 2rem;
  }
}
