.professional-profile_schedule-section {
  display: grid;
  grid-template-rows: max-content 1fr;
}

.professional-profile_schedule-section .title {
  border-radius: 0.3rem 0.3rem 0 0;
  height: 4.6rem;
  display: flex;
  align-items: center;
  padding: 0 1rem;
  display: flex;
  gap: 0.5rem;

  > .icon {
    background-color: #7fb285;
    width: 2.2rem;
    height: 2.2rem;
    color: white;
    display: grid;
    place-content: center;
    font-size: 1.3rem;
    border-radius: 0.3rem;
  }

  > .text {
    > h1 {
      font-size: 0.9rem;
      font-weight: 500;
    }

    > p {
      font-size: 0.65rem;
    }
  }
}

.professional-profile_schedule-section .body {
  padding: 0.5rem 1rem;
  display: grid;
  grid-template-rows: 1fr max-content;
  gap: 0.5rem;

  > .error {
    height: 17.5rem;
    display: grid;
    place-content: center;
  }
}

.professional-profile_schedule-section .body .schedules-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;
}

.professional-profile_schedule-section .body .get-booking {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.5rem;

  > button {
    height: 2.2rem;
    width: 100%;
    margin-bottom: 0.7rem;
    background: linear-gradient(to right, #4c8764, #5dac85);
    border: none;
    border-radius: 0.4rem;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0.9rem;
    font-size: 0.8rem;
    cursor: pointer;

    > .icon {
      font-size: 1.1rem;
    }
  }

  > button.disabled-btn {
    background: rgb(201, 201, 201);
    cursor: not-allowed;
  }
}
