.register-modal_background {
  background-color: rgba(68, 65, 65, 0.493);
  width: 100%;
  height: 100svh;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 2000;
  display: grid;
  place-content: center;
}

.register_container {
  width: 32rem;
  position: relative;
  background-color: white;
  border-radius: 0.3rem;
  box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.065);
  display: grid;
  grid-template-rows: 5rem 1fr 7rem;

  & .close-register-modal {
    position: absolute;
    right: 2rem;
    top: 2.1rem;
    cursor: pointer;
  }
}

.register-title {
  border-bottom: 1px solid rgba(0, 0, 0, 0.208);
  display: grid;
  place-content: center;
  position: relative;

  > h1 {
    font-weight: 400;
    font-size: 1.2rem;
  }
}

.register_container .register-body {
  display: grid;
  padding: 2rem 3rem 1rem;
}

.register-form_layout {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, 1fr);
  column-gap: 2.4rem;
  height: 15rem;

  & label {
    width: 100%;

    & input {
      width: 100%;
      height: 2.5rem;
      border: none;
      border-bottom: 1.4px solid rgba(113, 109, 109, 0.227);
      border-radius: 0.15rem;
      outline: none;
      padding-left: 0.3rem;
      transition: all 0.2s ease;
    }

    & input:focus {
      width: 100%;
      height: 2.5rem;
      border: none;
      border-bottom: 2px solid rgba(122, 133, 230, 0.738);
      border-radius: 0.15rem;
      outline: none;
      padding-left: 0.3rem;
    }
  }

  & .username {
    grid-column: 1 / 3;
  }

  & .email {
    grid-column: 1 / 3;
  }

  & .password {
    position: relative;
    .show-hide {
      position: absolute;
      right: 0.5rem;
      top: 0.85rem;
      color: rgba(0, 0, 0, 0.514);
    }
  }
}

.register_container .register-button {
  display: grid;
  padding: 1rem 2.5rem 0;

  > .create-account_btn {
    width: 100%;
    border: none;
    border-radius: 1.5rem;
    height: 2.8rem;
    color: white;
    border: 1px solid #cc3f0c9a;
    color: #cc3f0c9a;
    background-color: white;
    transition: all 0.3s ease;
    cursor: pointer;
  }

  > .create-account_btn:hover {
    background-color: #cc3f0c9a;
    color: white;
    border: 1px solid white;
  }
}

@media screen and (max-width: 530px) {
  .register-modal_background {
    display: flex;
    align-items: center;
  }

  .register_container {
    width: 100%;
  }

  .register_container .register-body {
    padding: 2rem 1rem 1rem;
  }
}
