.cms-modal_container {
  & .root-panel_info {
    font-family: var(--services-modal-header);
    font-weight: 400;
    font-size: 1.15rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-left: 1rem;
    color: rgba(0, 0, 0, 0.725);

    & .panel-icon {
      font-size: 0.95rem;
      color: rgba(0, 0, 0, 0.35);
    }
  }

  & aside {
    position: relative;
    width: 25rem;
    margin-top: 0.5rem;
    height: 98svh;
    background-color: #f2f2f2;
    box-shadow: -1px 0px 10px 5px rgba(0, 0, 0, 0.055);
    display: flex;
    flex-direction: column;
    padding: 1rem 0 0.5rem 1rem;
    border-radius: 1rem 0 0 1rem;
    animation: show-in 0.6s ease;
    transition: all 0.4s ease-in;

    & .close-cms-icon {
      box-sizing: content-box;
      position: absolute;
      right: 1rem;
      top: 1.6rem;
      cursor: pointer;
      color: rgba(0, 0, 0, 0.708);
      padding: 0.2rem;
      border-radius: 50%;
    }
  }
}

@keyframes show-in {
  0% {
    transform: translateX(10rem);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.root-cms_list {
  background-color: white;
  border-radius: 0.5rem 0 0 0.5rem;
  border: 1px solid rgba(0, 0, 0, 0.108);
  display: grid;
  grid-template-rows: 2.8rem 1fr;

  & ul {
    display: flex;
    list-style: none;
    gap: 0.5rem;
    padding-left: 1.4rem;
    align-items: end;
    user-select: none;

    & li {
      cursor: pointer;
      font-family: var(--services-modal-header);
      font-size: 0.93rem;
      font-weight: 500;
      height: 2rem;
      border-radius: 0.2rem;
      padding: 0 0.5rem;
      color: rgba(0, 0, 0, 0.695);
    }

    & .selected-option {
      background-color: #603dc11a;
      color: #613dc1;
    }
  }
}
