.cms-modal_container {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: var(--background-shadow-color);
  z-index: 3000;
  display: flex;
  justify-content: end;
  color: var(--primary-font-color);

  & .root-panel_info {
    gap: 0.5rem;
    font-family: var(--primary-font);
    color: var(--primary-font-color);
    display: flex;
    justify-content: space-between;
    font-weight: 500;
    padding-left: 1rem;
    align-items: center;
    font-size: 0.936rem;

    & .panel-icon {
      font-size: 0.95rem;
      color: rgba(0, 0, 0, 0.35);
    }
  }

  & aside {
    position: relative;
    width: 28rem;
    height: 100vh;
    background-color: #f2f2f2;
    box-shadow: -1px 0px 10px 5px rgba(0, 0, 0, 0.055);
    display: flex;
    flex-direction: column;
    border-radius: 0.2rem;
    animation-duration: 0.4s;
    padding: 1.2rem 1rem 0.5rem 1rem;
    gap: 1.2rem;

    > .cms-modal-root_title {
      display: flex;
      justify-content: space-between;
    }

    & .close-cms-icon {
      box-sizing: content-box;
      cursor: pointer;
      color: rgba(0, 0, 0, 0.708);
      padding: 0.2rem;
      border-radius: 50%;
      width: 1.0994rem;
      height: 1.0994rem;
    }
  }
}

& .fade-in {
  animation: fadeIn ease 0.4s;
}

& .fade-out {
  animation: fadeOut ease 0.4s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateX(10rem);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(10rem);
  }
}

@keyframes show-in {
  0% {
    transform: translateX(10rem);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.root-cms_list {
  background-color: white;
  width: 100%;
  border-radius: 0.3rem;
  border: 1px solid rgba(0, 0, 0, 0.108);
  display: grid;
  grid-template-rows: 2.6rem 1fr;
  padding: 0.3rem 0.9rem 0;

  & ul {
    display: flex;
    list-style: none;
    gap: 0.5rem;
    align-items: center;
    user-select: none;
    overflow-y: auto;
    min-width: 19.4375rem;

    & li {
      font-family: var(--primary-font);
      font-size: 0.7rem;
      padding: 0.45rem 0.8rem;
      border-radius: 0.2rem;
      cursor: pointer;
    }

    > li.root-modal_see-more {
      display: none;
      font-size: 1.2rem;
      height: 100%;
      position: absolute;
      right: 0;
      top: 0.2rem;
    }

    > .root_more-options_modal {
      width: 100%;
      height: 100vh;
      position: absolute;
      top: 0;
      left: 0;
    }

    > .root_more-options_modal > div {
      position: absolute;
      right: 2rem;
      top: 0.2rem;
      background-color: white;
      box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.102);
      padding: 0.2rem 0.5rem;

      > p {
        font-family: var(--primary-font);
        font-size: 0.7rem;
        padding: 0.45rem 0.8rem;
        border-radius: 0.2rem;
        cursor: pointer;
      }
    }

    & .selected-option {
      background-color: #603dc123;
      color: #613dc1;
    }
  }
}

@media screen and (max-width: 480px) {
  .cms-modal_container {
    & aside {
      width: 100%;
    }
  }
}

@media screen and (max-width: 440px) {
  .root-cms_list {
    & ul {
      position: relative;

      & .root_professionals-section {
        display: none;
      }

      > li.root-modal_see-more {
        display: flex;
      }
    }
  }
}
