.filters-mobile-modal_container {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: var(--background-shadow-color);
}

.filters-mobile-modal_container .modal-opened {
  width: 90%;
  max-width: 25rem;
  height: 25rem;
  background-color: white;
  border-radius: 0.3rem;
}

@media screen and (max-width: 810px) {
    .filters-mobile-modal_container {
        display: flex;
    }
}