.cms-professional-list {
  display: grid;
  min-height: 15rem;
  max-height: 85svh;
  grid-template-rows: 1.8rem 1fr 2.5rem;
  padding: 0.8rem 1.2rem 1.7rem 1.2rem;
  gap: 0.8rem;
  width: 100%;
}

.cms-professional_filter {
  & form {
    height: 100%;
    display: flex;
    position: relative;

    & input {
      width: 100%;
      border-radius: 0.3rem;
      border: 1px solid rgba(0, 0, 0, 0.491);
      padding: 0 0.7rem;
      font-family: var(--primary-font);
      outline: none;
      font-size: 0.75rem;
    }

    & .professionals_search-filter_icon {
      position: absolute;
      top: 0.35rem;
      right: 0.6rem;
    }
  }
}

.cms-professional_body {
  display: flex;
  flex-direction: column;
  overflow-y: auto;

  & .header_table {
    height: 1.4rem;

    & .header_table-name {
      display: flex;
      font-family: var(--primary-font);
      font-size: 0.7rem;
    }

    & .header_table-price,
    .header_table-options {
      font-family: var(--primary-font);
      font-size: 0.7rem;
      text-align: end;
    }

    & td {
      font-family: var(--primary-font);
      font-size: 0.8rem;
    }
  }

  & .cms-professional_tr-table {
    height: 3.3rem;
  }
}

.cms-professional-add {
  display: flex;
  justify-content: center;
  gap: 0.7rem;
  align-items: center;
  border-top: 1px solid rgba(0, 0, 0, 0.175);
  padding-top: 1.3rem;
  cursor: pointer;
  margin: 0.2rem 0.9rem 0;

  & .add-professional_icon {
    display: flex;
    color: var(--selected-option-text);
  }

  & h1 {
    font-family: var(--primary-font);
    font-size: 0.7rem;
    font-weight: 600;
    color: var(--selected-option-text);
  }

  & h1:hover {
    color: #603dc1b4;
  }
}
