.notifications-section_container {
  margin-top: 0.5rem;
  background-color: white;
  padding: 0.5rem 1.2625rem 1.2rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  max-height: 29.5369rem;
  overflow-y: auto;

  .notifications-header_time {
    & .header-day {
      font-size: 0.75rem;
      font-family: var(--primary-font);
      font-weight: 500;
      height: 1.8rem;
      display: flex;
      align-items: center;
    }

    & .notifications-list {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
    }
  }

  & hr.divider-line {
    margin: 0.8rem 1rem 0.4rem;
    border: 1px solid rgba(0, 0, 0, 0.131);
  }

  & .no-notifications {
    display: flex;
    justify-content: center;
    font-family: var(--primary-font);
    margin: 0.5rem 0 1rem;
    font-size: 0.83rem;
    color: rgb(65, 65, 65);
  }
}
