.bookings-header_container {
  display: flex;
  align-items: start;
  justify-content: space-between;
  color: #603dc1c7;
  font-family: var(--services-modal-header);
  border-bottom: 1.5px solid #603dc1c7;
  height: 2rem;
  margin: 0 0.5rem;

  & p {
    display: flex;
    align-items: center;
    gap: 0.3rem;
    font-size: 1.07rem;
  }
}
