.quotes_container {
  display: flex;
}

.quotes_container .list {
  width: 60rem;
  display: grid;
  justify-content: space-between;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 3.5rem;
  margin-top: 3.5rem;
}

@media screen and (max-width: 1200px) {
  .quotes_container .list {
    width: 55rem;
  }
}

@media screen and (max-width: 1050px) {
  .quotes_container .list {
    width: 50rem;
    gap: 1rem;
  }
}

@media screen and (max-width: 970px) {
  .quotes_container .list {
    width: 33rem;
    gap: 1rem;
    justify-content: start;
    overflow-x: auto;
    margin-top: 0;
    padding-top: 3rem;
    padding-bottom: 0.5rem;
  }
}

@media screen and (max-width: 600px) {
  .quotes_container .list {
    width: 16rem;
    gap: 1rem;
    justify-content: start;
    overflow-x: auto;
    margin-top: 0;
    padding-top: 3rem;
    padding-bottom: 0.5rem;
  }
}
