.schedules-card_container {
  font-family: var(--services-modal-header);
  display: flex;
  flex-direction: column;
  margin: 0 0.5rem;

  & .left {
    display: flex;
    justify-content: space-between;
    align-items: start;
    height: 1rem;
  }

  & p {
    font-size: 0.82rem;
  }

  & .right {
    display: flex;
    justify-content: space-between;

    & p {
      color: rgba(0, 0, 0, 0.623);
      display: flex;
      align-items: center;
    }

    & button {
      background-color: #ff6c6c2b;
      color: #f65858d6;
      border: none;
      height: 1.3rem;
      padding: 0rem 0.4rem;
      border-radius: 0.2rem;
      cursor: pointer;
      font-size: 0.8rem;
      margin-top: 0.2rem;
    }
  }

  & .left,
  .right {
    height: 1.1rem;
  }
}
