main {
  position: fixed;
  overflow-x: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 100svh;
  display: grid;
  justify-content: center;
}

/* Fondo con blur */
.blur-background {
  position: fixed;
  inset: 0;
  background: url("/src/public/assets/banner17.jpg"), rgba(0, 0, 0, 0.445);
  background-blend-mode: darken;
  background-size: cover;
  filter: blur(3px); /* Aplica el blur */
  z-index: 0;
  opacity: 0.9;
  width: calc(100% - 14px);
}

/* Contenedor principal */
.main-background {
  width: 88.5rem;
  height: 100%;
  justify-self: center;
  background-color: #f6f6f6;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.093),
    0 0 10px 10px rgba(0, 0, 0, 0.016);
  position: relative; /* Asegura que esté por encima del fondo */
  z-index: 1;
}

.main-screen_container {
  height: 100svh;
  display: grid;
  grid-template-rows: 3.4rem 1.5rem 1.8fr 4fr;
}

.header_container {
  width: 100%;
}

.sub-menu_container {
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}

.services_container {
  padding: 0 14rem;
  margin-top: 1.5rem;
}

.cms-flap_container {
  position: fixed;
  top: 13rem;
  right: 12px;
  width: 2rem;
  height: 4rem;
  z-index: 2000;
  border-radius: 0.5rem 0 0 0.5rem;
  background-color: #fbfbfb;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.055);
  cursor: pointer;
  display: grid;
  place-content: center;
  font-size: 1rem;
  color: var(--primary-details-color);
  transition: all 0.3s ease;
}

.cms-flap_container:hover {
  font-size: 1.2rem;
  background-color: #fbfbfb;
  transform: scale(1.1);
}

.admin-cms-flap_container {
  width: 2rem;
  height: 8rem;
  position: fixed;
  right: 12px;
  top: 4.8rem;
  cursor: pointer;
  border-radius: 0.5rem 0 0 0.5rem;
  background-color: #fbfbfb;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.055);
  z-index: 2000;

  & p {
    position: fixed;
    right: 12px;
    top: 4.8rem;
    writing-mode: vertical-rl;
    text-orientation: upright;
    width: 1.7rem;
    height: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--primary-font);
    font-size: 0.7rem;
    letter-spacing: 0.15rem;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.641);
    padding-right: 0.15rem;
  }
}

.presentation_container .decoration-line {
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #dac6b571;
  bottom: -3px;
}

.products_container {
  position: relative;
  margin-top: 2rem;
}

.products_container .decoration-line {
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #000000;
  top: 0;
}

.recipes_container {
  display: flex;
}

.about-us_container {
  min-height: 75rem;
  display: grid;
  place-content: center;
  position: relative;
}

.footer_container {
  height: 29rem;
  width: 100%;
}

/* Media queries */
@media screen and (max-width: 1425px) {
  .main-background {
    width: 100%;
  }
}

@media screen and (max-width: 1350px) {
  .about-us_container {
    height: 120svh;
  }
}

@media screen and (max-width: 1250px) {
  .footer_container {
    height: 50rem;
  }
}

@media screen and (max-width: 1200px) {
  .main-screen_container {
    height: max-content;
    display: grid;
    grid-template-rows: 3.4rem 0.95fr 4fr;
  }

  .sub-menu_container {
    display: none;
  }
}

@media screen and (max-width: 1050px) {
  .cms-flap_container {
    display: none;
  }

  .admin-cms-flap_container {
    display: none;
  }
}

@media screen and (max-width: 920px) {
  .services_container {
    padding: 0 6rem;
    margin-top: 1.5rem;
  }
}

@media screen and (max-width: 890px) {
  .main-screen_container {
    grid-template-rows: 3.4rem 0.85fr 4fr;
  }
}

@media screen and (max-width: 720px) {
  .about-us_container {
    height: 220svh;
    display: grid;
    place-content: center;
    position: relative;
  }

  .services_container {
    padding: 0 1rem;
    margin-top: 0rem;
  }
}

@media screen and (max-width: 640px) {
 
}

@media screen and (max-width: 540px) {
  .services_container {
    padding: 0;
    margin-top: 1.5rem;
  }
}
