.about {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: max-content 1fr;
  gap: 1.7rem;
}

.about-header {
  display: grid;

  & h1 {
    font-family: var(--section-font);
    font-weight: lighter;
    font-size: 1.4rem;
    text-align: center;
    color: #9e7682;
  }
}

.about-body {
  background-color: transparent;
  position: relative;
  display: grid;
  justify-content: center;

  & .cards-container {
    width: 90rem;
    height: 33rem;
    background-color: #ebebeb;
    position: relative;
    z-index: 2;
    border-radius: 0.2rem;
    display: flex;
    margin-bottom: 3rem;
    justify-content: center;
  }
}

.brand-footer {
  bottom: 0;
  font-size: 0.8rem;
  left: 44%;
  font-family: var(--primary-font);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1.9rem;
  gap: 0.7rem;
  background-color: #3c3c3c;

  & img {
    width: 1.5rem;
  }
}

/* Media queries */

@media screen and (max-width: 1550px) {
  .about-header {
    & h1 {
      font-size: 1.3rem;
    }
  }

  .about-body {
    & .cards-container {
      width: 80rem;
      height: 20rem;
    }
  }

  .brand-footer {
    font-size: 0.7rem;
  }
}

@media screen and (max-width: 1400px) {
  .about-header {
    & h1 {
      font-size: 1.1rem;
    }
  }

  .about-body {
    & .cards-container {
      width: 72rem;
    }
  }

  .about-body {
    background-color: transparent;
    position: relative;
    display: grid;
    justify-content: center;

    & .cards-container {
      width: 72rem;
      height: 100%;
      position: relative;
      z-index: 2;
      border-radius: 0.2rem;
      display: flex;
      margin-bottom: 0;
    }
  }

  .brand-footer {
    font-size: 0.65rem;

    & img {
      width: 1.3rem;
    }
  }
}
