.professionals-filter-page {
  min-height: calc(100vh - 4.9rem);
  display: grid;
  grid-template-columns: 22rem 1fr;
  padding: 1.9rem 2rem 1.9rem 0.5rem;
  width: 83.5994rem;
  justify-self: center;
}

.professionals-filter-page > .filter-page_left {
  display: flex;
  justify-content: start;
}

@media screen and (max-width: 1400px) {
  .professionals-filter-page {
    width: 75rem;
  }
}

@media screen and (max-width: 1200px) {
  .professionals-filter-page {
    width: 65rem;
  }
}

@media screen and (max-width: 1050px) {
  .professionals-filter-page {
    width: 912px;
  }
}

@media screen and (max-width: 970px) {
  .professionals-filter-page {
    width: 100%;
    grid-template-columns: 16rem 1fr;
    gap: 2rem;
    padding: 1.9rem 2rem 1.9rem 2rem;
  }

  .professionals-filter-page > .filter-page_left {
    width: 100%;
  }
}

@media screen and (max-width: 810px) {
  .professionals-filter-page {
    margin-top: 1rem;
    grid-template-columns: 1fr;
    grid-template-rows: max-content 1fr;
    padding: 0;
    gap: 0.6rem;
  }

  .professionals-filter-page > .filter-page_left {
    justify-content: center;
  }
}

@media screen and (max-width: 480px) {
  .professionals-filter-page {
    padding: 0 1rem;
  }
}
