.modal-window_background {
  width: 100%;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  background-color: var(--background-shadow-color);
}

.modal-window_background .modal-window {
  display: grid;
  grid-template-rows: 4.5rem 1fr;
  min-width: 20rem;
  background-color: var(--modal-background);
  border-radius: var(--modal-radius);
  max-height: 42rem;
}

.modal-window_background .modal-window form {
  overflow-y: auto;
  overflow-x: hidden;
}

.modal-window_background .modal-window form::-webkit-scrollbar {
  width: 6px;
}

.modal-window .modal-window_header {
  display: grid;
  justify-items: center;
  align-items: center;
  position: relative;
  border-bottom: 1px solid rgba(0, 0, 0, 0.119);

  > h1 {
    font-size: 1.2rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 0.4rem;
  }

  > .close-icon {
    position: absolute;
    right: 2.3rem;
  }
}

.submit-button {
  width: 85%;
  gap: 1rem;
  justify-self: center;
  height: 5rem;

  & hr {
    border-top: 1px solid rgba(0, 0, 0, 0.132);
  }

  > .booking-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 0.9rem;
    gap: 1rem;

    > button {
      height: 3.03rem;
      border: 1px solid rgba(0, 0, 0, 0.098);
      border-radius: 0.2rem;
      background-color: #f6f6f6;
      cursor: pointer;
    }

    > .enabled-button,
    .disabled-button {
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.5rem;
    }

    > .enabled-button {
      background-color: rgba(0, 0, 0, 0.756);
    }

    > .disabled-button {
      background-color: rgba(0, 0, 0, 0.247);
      cursor: default;
    }
  }
}

@media screen and (max-width: 580px) {
  .modal-window_background .modal-window {
    min-width: 100%;
  }
}