.specialties-list_container {
  display: grid;
  grid-template-rows: 1.8rem 1fr 2.5rem;
  padding: 0.8rem 1rem 1rem 1rem;
  gap: 0.8rem;

  & ::-webkit-scrollbar {
    width: 5px;
  }
}

.specialties-list_container > .cms-specialties_filter {
  width: 100%;

  > form {
    position: relative;
    height: 100%;

    > input {
      width: 100%;
      border-radius: 0.3rem;
      border: 1px solid rgba(0, 0, 0, 0.491);
      padding: 0 0.7rem;
      font-family: var(--primary-font);
      outline: none;
      font-size: 0.75rem;
      height: 100%;
    }

    > .search-filter_icon {
      position: absolute;
      top: 0.35rem;
      right: 0.6rem;
    }
  }
}

.specialties-list_container > .cms-specialties_body {
  max-height: 31rem;
  overflow-y: auto;
  padding-right: 1.5rem;

  > .no-specialties {
    height: 5rem;
    width: 100%;
    display: grid;
    place-content: center;
    font-size: 0.85rem;
  }

  & .header_table {
    > th {
      height: 1.4rem;
      font-size: 0.7rem;
      font-family: var(--primary-font);
    }

    > .header_table-name {
      display: flex;
    }

    .header_table-services {
      text-align: start;
      padding-left: 1rem;
    }
  }

  & tbody {
    > tr {
      font-size: 0.8rem;
      height: 1.5rem;
    }
  }
}

.specialties-list_container > .cms-specialty-add {
  cursor: pointer;
  font-size: 0.7rem;
  font-weight: 500;
  color: var(--selected-option-text);
  display: flex;
  justify-content: center;
  gap: 0.7rem;
  align-items: center;
  border-top: 1px solid rgba(0, 0, 0, 0.175);
  padding-top: 0.75rem;
  margin: 0rem 0.9rem 0;
  user-select: none;

  > .add-specialty_icon {
    display: flex;
    color: var(--selected-option-text);
  }

  > h1 {
    font-weight: 600;
  }
}
