.no-user-profile {
  height: calc(100vh - 4.8rem);
  display: grid;
  place-content: center;
}

.profile-container {
  min-height: 100vh;
}

.profile-container .presentation-section {
  background-color: rgb(255, 255, 255);
  padding: 0 10rem 2rem;
}

.profile-container .profile-content {
}