.no-user-profile {
  height: calc(100vh - 4.8rem);
  display: grid;
  place-content: center;
}

.profile-container {
  min-height: 100vh;
}

.profile-container .presentation-section {
  padding: 0 10rem 1rem;
}

.profile-container .profile-content {
  padding: 0 10rem 0.8rem;
  display: grid;
  grid-template-columns: 17rem 1fr 17rem;
  gap: 2rem;
}

.profile-content .content_left-container {
  padding-top: 1.2rem;
}

.profile-content .content_right-container {
  padding-top: 1.2rem;
}
