@import url("https://fonts.googleapis.com/css2?family=Ms+Madi&display=swap");
footer {
  height: 100%;
  background: #1c1c1c;
  padding: 5rem 15rem 0;
  display: grid;
  grid-template-rows: 3.5fr 6fr;
}

.top-container {
  border-bottom: 1px solid white;
  display: grid;

  > .footer_links {
    display: grid;
    grid-template-columns: 2fr repeat(4, 1fr);
    gap: 0.5rem;
    font-family: var(--primary-font);
    color: var(--light-font-color);

    > .footer_logo {
      display: flex;
      flex-direction: column;
      gap: 0.6rem;
      justify-content: start;

      > img {
        width: 4rem;
        height: 4rem;
      }

      > h1 {
        font-weight: 600;
        font-size: 0.8rem;
      }
    }

    > div {
      display: flex;
      justify-content: end;

      > ul {
        display: flex;
        flex-direction: column;
        list-style: none;
        gap: 0.5rem;
        font-weight: 600;

        > li {
          font-size: 0.65rem;
          cursor: pointer;
          text-align: end;
        }
      }
    }
  }
}

.bottom-container {
  display: grid;
  place-content: center;

  > .footer {
    display: flex;
    flex-direction: column;
    gap: 1.3rem;

    > ul {
      display: flex;
      list-style: none;
      width: 15rem;
      justify-content: space-between;
      align-self: center;
      font-size: 1rem;
      color: white;

      > li {
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 50%;
        display: grid;
        place-content: center;
        border: 1.7px solid white;

        > a {
          display: flex;
          align-items: center;
        }
      }
    }

    > p {
      font-family: var(--primary-font);
      color: white;
      font-size: 0.7rem;
      text-align: center;
    }
  }
}

@media screen and (max-width: 1250px) {
  footer {
    grid-template-rows: 8fr 6fr;
  }

  .top-container {
    border-bottom: 1px solid white;
    display: grid;
    padding-bottom: 2rem;

    > .footer_links {
      grid-template-columns: 1fr;
      grid-template-rows: 2fr repeat(4, max-content);
      gap: 1rem;

      > .footer_logo {
        display: flex;
        flex-direction: column;
        gap: 0.6rem;
        justify-content: start;
        margin-bottom: 1rem;

        > img {
          width: 3rem;
          height: 3rem;
        }

        > h1 {
          font-weight: 600;
          font-size: 0.9rem;
        }
      }

      > div {
        justify-content: start;

        > ul {
          font-weight: 500;

          > li {
            font-size: 0.75rem;
            text-align: start;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1050px) {
  footer {
    padding: 5rem 7.5rem 0 7.5rem;
  }
}

@media screen and (max-width: 850px) {
  footer {
    padding: 5rem 3rem 0 3rem;
  }
}
