footer {
  background: #121212;
  height: 100%;
  display: flex;
  justify-content: center;
  padding: 3.5rem 0;

  > div {
    width: 56rem;
    display: grid;
    justify-content: center;
    grid-template-rows: 2fr 0.5fr 2fr 2fr;
  }
}

footer .top-container {
  display: grid;
  justify-content: center;
  align-self: center;
  height: 3rem;

  > .footer_links {
    display: grid;
    gap: 0.5rem;
    font-family: var(--primary-font);
    color: var(--light-font-color);

    > .footer_logo {
      display: flex;
      gap: 0.6rem;
      justify-content: start;
      align-items: center;

      > img {
        width: 2.5rem;
        height: 2.5rem;
      }

      > h1 {
        font-weight: 600;
        font-size: 1.3rem;
      }
    }
  }
}

footer .sections {
  display: flex;
  list-style: none;
  column-gap: 0.9rem;
  height: 1rem;
  margin: 0.4rem 0;
  justify-content: center;
  flex-wrap: wrap;

  > li {
    font-size: 0.7rem;
    color: rgb(155, 155, 155);
    font-weight: 600;
  }
}

footer .social {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  padding-top: 1rem;

  > ul {
    display: flex;
    list-style: none;
    width: 14.3rem;
    justify-content: space-between;
    align-self: center;
    font-size: 1rem;
    color: #7f8f67;

    > li {
      width: 2.3rem;
      height: 2.3rem;
      border-radius: 50%;
      display: grid;
      place-content: center;
      border: 1.2px solid #7f8f67;

      > a {
        display: flex;
        align-items: center;
      }
    }
  }
}

footer p {
  font-family: var(--primary-font);
  color: white;
  font-size: 0.8rem;
  display: flex;
  align-items: end;
  justify-content: center;
  color: rgb(155, 155, 155);
  height: 3rem;
  align-self: center;
  gap: 0.2rem;
  text-align: center;

  > a {
    color: inherit;
    font-size: 0.8rem;
    color: #7f8f67;
  }
}

@media screen and (max-width: 1050px) {
  footer {
    > div {
      width: 80%;
    }
  }
}

@media screen and (max-width: 515px) {
  footer {
    padding: 3rem 0;

    > div {
      width: 100%;
    }
  }

  footer .sections {
    column-gap: 0.6rem;
    width: 17rem;
    height: 2.5rem;
    justify-self: center;
    margin: 0;
  }

  footer .top-container {
    > .footer_links {
      > .footer_logo {
        > h1 {
          font-size: 1.2rem;
        }
      }
    }
  }

  footer p {
    width: 80%;
    justify-self: center;
    line-height: 1.3rem;
  }
}
