.schedules-header_container {
  display: flex;
  align-items: start;
  justify-content: space-between;
  color: var(--selected-option-text);
  border-bottom: 1.5px solid var(--selected-option-text);
  height: 1.3rem;
  margin: 0 0.5rem 0.5rem;

  & p {
    display: flex;
    align-items: center;
    gap: 0.3rem;
    font-size: 0.82rem;
  }
}
