/* Fondo con blur */
.blur-background {
  position: fixed;
  inset: 0;
  background-color: var(--clr-cream);
  z-index: 0;
  opacity: 0.9;
}

/* Contenedor principal */
.main-background {
  width: 100%;
  min-height: 100vh;
  justify-self: center;
  background-color: var(--clr-cream);
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
}

.layout-content {
  flex: 1;
}

.header_container {
  width: 100%;
  position: relative;
  z-index: 1000;
}


/* Media queries */
@media screen and (max-width: 1425px) {
  .main-background {
    width: 100%;
  }
}
