/* Fondo con blur */
.blur-background {
  position: fixed;
  inset: 0;
  background: url("/src/public/assets/bg9.jpg"), rgba(0, 0, 0, 0.571);
  background-size: cover;
  background-blend-mode: darken;
  z-index: 0;
  opacity: 0.9;
}

/* Contenedor principal */
.main-background {
  width: 88.5rem;
  height: 100%;
  justify-self: center;
  background-color: #f6f6f6;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.04),
    0 0 10px 10px rgba(0, 0, 0, 0.023);
  position: relative; /* Asegura que esté por encima del fondo */
  z-index: 1;
}

.sub-menu_container {
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}

/* Media queries */
@media screen and (max-width: 1425px) {
  .main-background {
    width: 100%;
  }
}

@media screen and (max-width: 1200px) {
  /* .main-screen_container {
    height: max-content;
    display: grid;
    grid-template-rows: 3.4rem 0.95fr 4fr;
  } */

  .sub-menu_container {
    display: none;
  }
}

@media screen and (max-width: 890px) {
  /* .main-screen_container {
    grid-template-rows: 3.4rem 0.85fr 4fr;
  } */
}
