.cover-photo {
  height: 17rem;
  border-radius: 0 0 0.4rem 0.4rem;
  position: relative;

  > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0 0 0.4rem 0.4rem;
    position: absolute;
    left: 0;
    top: 0;
  }

  > .upload-cover-photo {
    background-color: white;
    border-radius: 0.5rem;
    box-shadow: 1px 1px 10px 5px rgba(0, 0, 0, 0.08),
      1px 1px 5px 2px rgba(0, 0, 0, 0.185);
    position: absolute;
    bottom: 1rem;
    right: 2rem;
    height: 2.5rem;
    border: 1px solid rgba(0, 0, 0, 0.105);
    display: flex;
    align-items: center;
    padding: 0 0.8rem;
    gap: 0.3rem;
    cursor: pointer;

    > .camera-icon {
      font-size: 1.2rem;
    }

    > p {
      font-size: 0.83rem;
      font-weight: 500;
    }

    > input {
      display: none;
    }

    > .mobile_cover-btn {
      display: none;
    }
  }
}

@media screen and (max-width: 1050px) {
  .cover-photo {
    > .upload-cover-photo {
      padding: 0 0.8rem;

      > .camera-icon {
        font-size: 0.9rem;
      }

      > p {
        font-size: 0.72rem;
        font-weight: 500;
      }
    }
  }
}

@media screen and (max-width: 890px) {
  .cover-photo {
    height: 14rem;

    > .upload-cover-photo {
      padding: 0 0.8rem;
      bottom: 0.5rem;
      right: 0.5rem;

      > .camera-icon {
        font-size: 0.9rem;
      }

      > p {
        font-size: 0.72rem;
        font-weight: 500;
      }
    }
  }
}

@media screen and (max-width: 690px) {
  .cover-photo {
    > .upload-cover-photo {
      > .desktop_cover-btn {
        display: none;
      }

      > .mobile_cover-btn {
        display: block;
      }
    }
  }
}
