.upload-cover-modal {
    height: 7rem;
    width: 30rem;
    display: flex;
    justify-content: center;
  }
  
  .upload-cover-modal .upload-cover_input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 0.5rem;
  
    > p {
      font-size: 0.7rem;
    }
  
    & input[type="file"] {
      display: none;
    }
  
    > div {
      display: flex;
      gap: 0.5rem;
      height: 2.2rem;
      width: 8rem;
      justify-content: center;
      align-items: center;
      border: none;
      cursor: pointer;
      font-size: 0.8rem;
      background-color: rgba(0, 0, 0, 0.756);
      color: white;
      border-radius: 0.2rem;
      transition: all 0.3s ease;
    }
  
    > div:hover {
      background-color: rgba(0, 0, 0, 0.653);
      transform: scale(1.02);
    }
  
    > div:active {
      background-color: rgba(0, 0, 0, 0.863);
      transform: scale(1.02);
    }
  }
  