.network-error {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.9rem;
  color: var(--primary-font-color);
  height: 7rem;

  & .network-icon {
    color: var(--primary-details-color);
  }
}
