.notification-pop-up_btn {
  position: fixed;
  width: 14rem;
  height: 2.5rem;
  border: 50%;
  right: 12rem;
  bottom: 0;
  font-size: 1.4rem;
  box-shadow: -1px 1px 5px 5px rgba(0, 0, 0, 0.094);
  cursor: pointer;
  z-index: 1600;
  border-radius: 0.7rem 0.7rem 0 0;
  display: flex;
  color: #d24d1cca;
  background-color: white;
  border: 1px solid #d24d1c90;

  > div {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    position: relative;
    height: 100%;

    > .notifications-title {
      font-size: 0.77rem;
      font-weight: 400;
      color: black;
      letter-spacing: 0.03rem;
      color: #d24d1cca;
    }

    & .red-circle {
      position: absolute;
      width: 1.2rem;
      height: 100%;
      border-radius: 50%;
      right: 0.7rem;
      display: grid;
      place-content: center;
      padding-bottom: .05rem;


      & p {
        font-size: 0.7rem;
        color: var(--primary-details-color);
      }
    }
  }

  & .bell-icon {
    filter: drop-shadow(-1px 1px 5px rgba(0, 0, 0, 0.424));
    font-size: 1.15rem;
  }
}

@media screen and (max-width: 1490px) {
  .notification-pop-up_btn {
    right: 7rem;
  }
}

@media screen and (max-width: 1250px) {
  .notification-pop-up_btn {
    right: 4rem;
  }
}

@media screen and (max-width: 1050px) {
  .notification-pop-up_btn {
    display: none;
  }
}
