.user-notifications-modal_container {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1500;
  background-color: var(--background-shadow-color);
}

.user-notifications-modal {
  width: 29rem;
  background-color: #f2f2f2;
  position: fixed;
  right: 12rem;
  bottom: 3rem;
  border-radius: 0.8rem;
  box-shadow: -1px 1px 5px 5px rgba(0, 0, 0, 0.052);
  font-family: var(--services-modal-header);
  padding: 0.7rem 1rem 3rem 1rem;

  & .close-icon {
    display: flex;
    align-self: center;
    margin-bottom: 0.2rem;
    cursor: pointer;
    padding: 0.5rem;
    box-sizing: content-box;
  }

  & .select-section {
    display: flex;
    gap: 0.5rem;
    justify-content: space-between;

    & div {
      display: flex;
    }

    & p {
      cursor: pointer;
      padding: 0 0.6rem;
      border-radius: 0.3rem;
      color: rgb(72, 72, 72);
      font-size: 0.75rem;
      display: grid;
      place-content: center;
    }

    & p.selected-section_notifications-modal {
      background-color: var(--selected-option-background);
      color: var(--selected-option-text);
    }
  }

  > h1 {
    font-weight: 300;
    font-size: 1rem;
    padding-left: 1rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: rgba(0, 0, 0, 0.652);
    height: 2.5rem;
  }
}

@media screen and (max-width: 1490px) {
  .user-notifications-modal {
    right: 7rem;
  }
}

@media screen and (max-width: 1250px) {
  .user-notifications-modal {
    right: 4rem;
  }
}

@media screen and (max-width: 1050px) {
  .user-notifications-modal_container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .user-notifications-modal {
    position: static;
  }
}

@media screen and (max-width: 580px) {
  .user-notifications-modal {
    max-width: 100%;
    width: 100%;
    border-radius: 0;
  }
}
