.user-notifications-modal_container {
  width: 100%;
  height: 100svh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1500;
  background-color: rgba(0, 0, 0, 0.295);
}

.user-notifications-modal {
  width: 29rem;
  background-color: #f2f2f2;
  position: fixed;
  right: 4rem;
  bottom: 7.5rem;
  border-radius: 1rem 1rem 0 1rem;
  box-shadow: -1px 1px 5px 5px rgba(0, 0, 0, 0.052);
  font-family: var(--services-modal-header);
  padding: 0.7rem 1rem 1.5rem 1rem;

  & h1 {
    font-weight: 300;
    font-size: 1rem;
    padding-left: 1rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: rgba(0, 0, 0, 0.652);
    height: 2.5rem;
  }
}

.pending-shifts-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgba(0, 0, 0, 0.652);

  & h1 {
    font-weight: bold;
  }

  & .schedule-icon {
    margin-bottom: 0.2rem;
  }

  & .close-icon {
    display: flex;
    align-self: center;
    margin-bottom: 0.2rem;
    cursor: pointer;
    padding: 0.5rem;
    box-sizing: content-box;
  }
}

.previous-shifts-header {
  & h1 {
    font-weight: bold;
  }

  & .history-icon {
    font-size: 1.23rem;
    margin-bottom: 0.15rem;
  }
}

.pending-shifts_container,
.previous-shifts_container {
  min-height: 5rem;
  max-height: 9.2rem;
  display: grid;
  background-color: white;
  border-radius: 0.2rem;
  border: 1px solid #e6e6e6;
  padding: 0.5rem 0.7rem;
  overflow-y: auto;

  & p.no-pending-bookings,
  p.no-previous-shifts {
    display: grid;
    place-content: center;
    color: rgba(0, 0, 0, 0.652);
  }
}

.previous-shifts_container {
  max-height: 9.6rem;
}
