@import url("https://fonts.googleapis.com/css2?family=Ms+Madi&display=swap");
footer {
  width: 100%;
  height: 100%;
  margin-top: 0.01rem;
  background: #1C1C1C;
  padding: 5rem 10rem 0 10rem;
  display: grid;
  grid-template-rows: 3.5fr 6fr;
}

.top-container {
  border-bottom: 1px solid white;
  display: grid;

  > .footer_links {
    display: grid;
    grid-template-columns: 2fr repeat(4, 1fr);
    gap: 0.5rem;
    font-family: var(--primary-font);
    color: var(--light-font-color);

    > .footer_logo {
      display: flex;
      flex-direction: column;
      gap: 0.6rem;
      justify-content: start;

      > img {
        width: 4rem;
        height: 4rem;
      }

      > h1 {
        font-weight: 600;
        font-size: .9rem;
      }
    }

    > div {
      display: flex;
      justify-content: end;

      > ul {
        display: flex;
        flex-direction: column;
        list-style: none;
        gap: .5rem;
        font-weight: 600;

        > li {
          font-size: 0.8rem;
          cursor: pointer;
          text-align: end;
        }
      }
    }
  }
}

.bottom-container {
  display: grid;
  place-content: center;

  > .footer {
    display: flex;
    flex-direction: column;
    gap: 1.3rem;

    > ul {
      display: flex;
      list-style: none;
      width: 15rem;
      justify-content: space-between;
      align-self: center;
      font-size: 1rem;
      color: white;

      > li {
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 50%;
        display: grid;
        place-content: center;
        border: 1.7px solid white;

        > a {
          display: flex;
          align-items: center;
        }
      }
    }

    > p {
      font-family: var(--primary-font);
      color: white;
      font-size: 0.85rem;
    }
  }
}
