.professional-bookings_container {
  padding-bottom: 2rem;
}

.no-bookings-paragraph {
  display: flex;
  justify-content: center;
  margin: 1rem 0 0.5rem;
  font-family: var(--presentation-banner-font);
  font-size: 0.9rem;
}
