.cms-viand-list {
  display: grid;
  min-height: 15rem;
  grid-template-rows: 1.8rem 1fr;
  padding: 0.8rem 1.2rem 1.7rem 1.2rem;
  gap: 0.8rem;
  width: 100%;
}

.cms-viand_filter {
  & form {
    height: 100%;
    display: flex;
    position: relative;

    & input {
      width: 15rem;
      border-radius: 0.3rem;
      border: 1px solid rgba(0, 0, 0, 0.491);
      padding: 0 0.7rem;
      font-family: var(--primary-font);
      outline: none;
      font-size: 0.75rem;
    }

    & .viands_search-filter_icon {
      position: absolute;
      left: 13.5rem;
      top: 0.35rem;
    }
  }
}

.cms-viand_body {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  & .header_table {
    & .header_table-name {
      display: flex;
      font-family: var(--primary-font);
      font-size: 0.7rem;
    }

    & .header_table-price,
    .header_table-options {
      font-family: var(--primary-font);
      font-size: 0.7rem;
    }

    & td {
      font-family: var(--primary-font);
      font-size: 0.8rem;
    }
  }
}
