.dashboard-mobile-menu {
  height: 4.7rem;
  background-color: #f6f6f6;
  font-size: 2rem;
  align-items: center;
  padding-left: 4%;
  border-bottom: 1px solid #c9c9c9;
  display: none;
  color: #595959;
}

@media screen and (max-width: 1320px) {
  .dashboard-mobile-menu {
    display: flex;
  }
}
