.presentation {
  width: 95%;
}

.background-image {
  width: 100%;
  min-height: 18.5rem;
  position: relative;
  display: inline-block;
  background-color: #fff1d8;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.3rem;
}

.background-image::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 80%;
  background: linear-gradient(
    to top,
    rgba(246, 246, 246, 1) 0%,
    rgba(246, 246, 246, 0.8) 30%,
    rgba(246, 246, 246, 0) 100%
  );
  pointer-events: none;
}

.presentation .content {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 1;
  align-items: center;
  gap: 0.9rem;
}

.content > h1 {
  font-weight: 400;
  font-size: 1.4rem;
  text-align: center;
  max-width: 28ch;
  color: #4d4d4d;
  font-weight: 500;
}

.content > p {
  text-align: center;
  max-width: 32ch;
  font-size: 0.8rem;
  color: #4d4d4d;
}

.content > .search-input {
  position: relative;
  margin: 0.5rem 0;
  border-radius: 0.5rem;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.075), 0 0 2px 1px rgba(0, 0, 0, 0.066);
}

.content > .professional-items {
  display: flex;
  gap: 0.5rem;

  > p {
    font-size: 0.7rem;
    display: flex;
    align-items: center;
    gap: 0.2rem;
    padding: 0.3rem 0.4rem;
    border-radius: 0.2rem;
    border: 1px solid rgba(43, 41, 34, 0.21);
    background-color: var(--modal-background);
    cursor: pointer;
  }
}

@media screen and (max-width: 1400px) {
  .presentation {
    width: 75rem;
  }
}

@media screen and (max-width: 1200px) {
  .presentation {
    width: 65rem;
  }

  .content > h1 {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 1050px) {
  .presentation {
    width: 57rem;
  }

  .background-image {
    min-height: 18rem;
  }
}

@media screen and (max-width: 910px) {
  .presentation {
    width: 100%;
  }

  .background-image {
    min-height: 18rem;
  }
}

@media screen and (max-width: 670px) {
  .background-image {
    min-height: 12rem;
  }

  .presentation .content {
    width: 16.75rem;
  }

  .content > .professional-items {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  .content > h1 {
    font-size: 1rem;
  }

  .content > p {
    font-size: 0.72rem;
  }
}
