.professional-schedules_container {
  & .add-new-schedule {
    height: 4rem;
    margin-top: 1.5rem;
    display: grid;
    place-content: center;
    border-top: 1.5px solid #00000022;
    color: #603dc193;
    font-family: var(--primary-font);
    cursor: pointer;

    & h1 {
      font-weight: 400;
    }
  }
  & .no-schedules,
  .error-message {
    display: flex;
    justify-content: center;
    margin: 1.5rem 0 0.5rem;
    font-family: var(--primary-font);
    font-size: 0.85rem;
  }
}
