.pending-shifts-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--primary-font-color);
  height: 2.5rem;

  & h1 {
    font-weight: 400;
    font-size: 0.8rem;
    display: flex;
    align-items: center;
    gap: 0.4rem;
    padding-left: 0.5rem;
  }
}

.previous-shifts-header {
  color: var(--primary-font-color);
  height: 2.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  > h1 {
    font-weight: 400;
    font-size: 0.8rem;
    display: flex;
    align-items: center;
    gap: 0.4rem;
    padding-left: 0.5rem;
  }

  & .history-icon {
    font-size: 0.9rem;
  }
}

.pending-shifts_container,
.previous-shifts_container {
  min-height: 5rem;
  max-width: 32.0625rem;
  display: grid;
  background-color: white;
  border-radius: 0.2rem;
  border: 1px solid #e6e6e6;
  padding: 1.3rem 0.7rem;
  overflow-y: auto;
  gap: 0.8rem;

  & p.no-pending-bookings,
  p.no-previous-shifts {
    display: grid;
    place-content: center;
    font-family: var(--primary-font);
    font-size: 0.83rem;
    color: rgb(65, 65, 65);
  }
}

.previous-shifts_container {
  max-height: 10rem;
  min-height: 4.3rem;
}
