.sub-menu {
    /* width: 100%;
    padding: 0 10rem;
    height: 3rem;
    background-color: #706359; */
    display: grid;
    place-content: center;
    color: white;
    font-family: var(--primary-font);
    font-size: .75rem;
    height: 100%;
}