.post-card {
  background-color: white;
  border-radius: 0.3rem;
  border: 1px solid #e4e4e4;
  padding: 1.5rem;
  padding-bottom: 0.8rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.post-card .post-card_header {
  display: flex;
  justify-content: space-between;
}

.post-card .post-card_body {
  > p {
    font-size: 0.85rem;
    line-height: 1.3rem;
  }

  > .post-card_image {
    margin-top: 0.8rem;
    overflow: hidden;

    > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      cursor: pointer;
      border-radius: 0.2rem;
    }
  }
}

.full-size-post-image_container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100dvh;
  background-color: rgba(0, 0, 0, 0.626);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1.5rem;

  > div {
    position: relative;
  }

  & .close-icon {
    position: absolute;
    right: 1.5rem;
    top: 1.5rem;
    font-size: 1.5rem;
    background-color: rgb(209, 209, 209);
    border-radius: 50%;
    padding: 0.3rem;
    cursor: pointer;
    color: rgb(46, 46, 46);
    transition: background-color 0.3s ease;
  }

  & .close-icon:hover {
    background-color: rgb(209, 209, 209);
  }

  & img {
    width: 100%;
    max-height: 75dvh;
    object-fit: cover;
    object-position: center;
    border-radius: 0.3rem;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.037),
      0 0 20px 10px rgba(0, 0, 0, 0.062);
  }
}

.post-card .post-card_quantity-likes {
  font-size: 0.7rem;
  margin: 0.5rem 0 0.2rem;
  color: rgb(49, 49, 49);
}

.post-card .post-card_divider-line {
  border-color: rgba(0, 0, 0, 0.11);
}

.post-card .post-card_like {
  > button {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    width: 7rem;
    height: 2rem;
    justify-content: center;
    border-radius: 0.4rem;
    cursor: pointer;
    transition: background-color 0.5s ease;
    border: none;

    > .liked {
      color: red;
    }

    > p {
      font-size: 0.8rem;
    }

    > .liked-paragraph {
      color: red;
    }
  }

  > div:hover {
    background-color: rgba(0, 0, 0, 0.057);
  }
}

.post-card_header .description {
  display: flex;
  gap: 0.5rem;
}

.post-card_header .options {
  display: flex;
  align-items: center;
  position: relative;

  > .dots-icon {
    cursor: pointer;
  }

  > .options-modal {
    background-color: white;
    border-radius: var(--modal-radius);
    box-shadow: var(--modal-shadow);
    position: absolute;
    right: 1.8rem;
    top: 0.5rem;
    padding: 0.5rem;

    > p {
      font-size: 0.8rem;
      padding: 0.5rem;
      cursor: pointer;
      transition: all 0.3s ease;
      color: rgb(175, 0, 0);
      display: flex;
      gap: 0.3rem;
      align-items: center;
    }

    > p:hover {
      background-color: rgb(225, 225, 225);
    }
  }
}

.post-card_header .description .header_image {
  > img {
    width: 2.3rem;
    height: 2.3rem;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
  }
}

.post-card_header .description .name_hour {
  > p {
    font-size: 0.85rem;
    font-weight: 500;
    height: 0.85rem;
    cursor: pointer;
  }

  > span {
    font-size: 0.7rem;
    color: rgb(78, 78, 78);
  }
}
